/.bundle

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/storage/*

/node_modules
/yarn-error.log

/db/updates/*

/public/assets
/public/uploads
/public/tmp/blogs
/public/tmp/reviews
/public/tmp/newcars
/public/tmp/usedcars
/public/tmp/photo_used
/public/tmp/news
/public/sitemaps/*
.byebug_history
.idea/


/config/database.yml
/config/master.key

/coverage/*

/db/geo/GeoLite2-City.mmdb
# Ignore master key for decrypting credentials and more.