<% provide :title,'Автосалон «Дисконт Авто» 🚗 МКАД 11 км (м. Котельники, Жулебино) | Контакты' %>
<% provide :description,'Контакты автосалона официального дилера "Дисконт Авто" в ' + @current_region.sklon3 + ' - адреса, телефоны, электронная почта, режим работы.' %>

<h1 class="green">Контакты</h1>

<div class="cnt_p">
  <div class="cnt_if">
    <div class=" cnt_info">

      <div class="c_i_b">
        <div class="addr_info">

          <svg width="49" height="49" viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M46.9094 35.6911V42.4655C46.912 43.0943 46.7832 43.7168 46.5312 44.293C46.2793 44.8693 45.9098 45.3865 45.4464 45.8117C44.983 46.2368 44.4359 46.5605 43.8401 46.762C43.2444 46.9634 42.6131 47.0383 41.9868 46.9817C35.0382 46.2266 28.3636 43.8523 22.4993 40.0493C17.0434 36.5823 12.4177 31.9566 8.95071 26.5007C5.13446 20.6097 2.75954 13.9027 2.01833 6.92289C1.9619 6.29845 2.03611 5.6691 2.23624 5.07491C2.43636 4.48072 2.75802 3.93471 3.18072 3.47165C3.60343 3.00858 4.11792 2.63861 4.69145 2.38528C5.26498 2.13194 5.88497 2.00081 6.51196 2.00022H13.2863C14.3821 1.98943 15.4445 2.3775 16.2755 3.09209C17.1064 3.80667 17.6491 4.79902 17.8025 5.88416C18.0884 8.05209 18.6187 10.1807 19.3832 12.2294C19.687 13.0377 19.7527 13.916 19.5726 14.7605C19.3925 15.605 18.9741 16.3801 18.367 16.994L15.4992 19.8618C18.7137 25.5151 23.3946 30.1959 29.0478 33.4105L31.9156 30.5427C32.5296 29.9355 33.3047 29.5171 34.1492 29.337C34.9936 29.157 35.872 29.2227 36.6802 29.5265C38.7289 30.291 40.8576 30.8213 43.0255 31.1072C44.1224 31.2619 45.1242 31.8144 45.8403 32.6596C46.5564 33.5048 46.9369 34.5837 46.9094 35.6911Z" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>


          Отдел продаж</div>
        <div class="phone_info">8 800 500-08-17</div>
      </div>
    </div>
    <div class="row contacts_info">
      <div class="tlx">
        <div class="tl_info">

          <svg width="41" height="49" viewBox="0 0 41 49" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M38.8182 20.4091C38.8182 34.7273 20.4091 47 20.4091 47C20.4091 47 2 34.7273 2 20.4091C2 15.5267 3.93952 10.8443 7.3919 7.3919C10.8443 3.93952 15.5267 2 20.4091 2C25.2915 2 29.9739 3.93952 33.4263 7.3919C36.8787 10.8443 38.8182 15.5267 38.8182 20.4091Z" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M20.4088 26.5454C23.7978 26.5454 26.5452 23.7981 26.5452 20.4091C26.5452 17.02 23.7978 14.2727 20.4088 14.2727C17.0198 14.2727 14.2725 17.02 14.2725 20.4091C14.2725 23.7981 17.0198 26.5454 20.4088 26.5454Z" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>


        </div>
        <div class="tx_info">г. Москва, Привольная 70к1 <br>(м. Котельники)</div>

      </div>
      <div class="tlx">
        <div class="tl_info">

          <svg width="49" height="49" viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M24.5 47C36.9264 47 47 36.9264 47 24.5C47 12.0736 36.9264 2 24.5 2C12.0736 2 2 12.0736 2 24.5C2 36.9264 12.0736 47 24.5 47Z" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M24.5 14.8571V24.4999L29.3214 29.3213" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>


        </div>
        <div class="tx_info">с 9:00 до 22:00 <br>ежедневно</div>
      </div>
      <div class="tlx">
        <div class="tl_info">

          <svg width="60" height="49" viewBox="0 0 60 49" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.625 2H52.625C55.7188 2 58.25 4.53125 58.25 7.625V41.375C58.25 44.4688 55.7188 47 52.625 47H7.625C4.53125 47 2 44.4688 2 41.375V7.625C2 4.53125 4.53125 2 7.625 2Z" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M58.25 7.625L30.125 27.3125L2 7.625" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>


        </div>
        <div class="tx_info">info@autosalon-m.ru</div>
      </div>
    </div>
  </div>
  <div class="row_map">
      <div class="map" id="map">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3AaRbBBmsWMTt1ArFmc9rw9dHyTTTh5D-C&amp;width=100%25&amp;height=500&amp;lang=ru_RU&amp;scroll=true"></script>
      </div>
  </div>
</div>

<div class="card__box">
  <div>
    <h2>Популярные модели</h2>
  </div>
  <div class="card_box_slide row justify-content-between align-items-center">
    <%= render partial:'new_cars/small_new_cars', collection: @hit.limit(10).where('`new_cars`.`hide` = 0'), locals: {:show_brand => true, :credit_flag => false} %>
  </div>
</div>


<%= render 'partials/carso/credit_form' %>