<% provide :title,'Автосалон в ' + @current_region.sklon3 + ' 🚗 купить авто у официального дилера «AviCAR»' %>
<% provide :description,'❗ Продажа новых автомобилей в ' + @current_region.sklon3 + ' — AviCAR 🚘 34 марки авто и более 300 моделей в наличии ❗ Кредит на машину от 1,9% ️🎁 Каско бесплатно! ☎️ 8 800 505-25-66.' %>

<%
  region = false
  unless @current_region.id == 57
    region = true
  end
%>

  <section class="main-cont">

    <section class="main-slide">
      <div class="main-slide-item">
        <div class="main-slide-pic">
          <%= image_tag "carso/img/main-page/main-slider-pic.png", alt:'', class: 'main-slider-pic-item' %>
        </div>
        <div class="main-slide-model">
          <div class="main-slide-model-cont">
            <div class="main-slide-wrap">
              <div class="main-slide-header">Европейская премьера</div>
              <div class="main-slide-model-name">Kia Seltos</div>
              <div class="main-slide-text">Новый компактный экономичный кроссовер для города и отдыха на природе.</div>
              <div class="main-slide-price">
                <div class="main-slide-price-wrap">
                  <div class="main-slide-price-item">
                    От 960 000₽
                  </div>
                  <div class="main-slide-price-credit">
                    <span class="price-green">20 000₽</span>/Мес
                  </div>
                </div>
                <div class="main-slide-button">
                  <div class="main-button slide-button"><a href="/newauto"></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="type-auto-menu">
      <div class="type-auto-menu-cont">
        <ul class="type-auto-menu-list">
          <li class="type-auto-menu-item">Новинки 2021</li>
          <li class="type-auto-menu-item">Быстрые авто</li>
          <li class="type-auto-menu-item">подбор до 600 000₽</li>
          <li class="type-auto-menu-item">Кроссоверы</li>
          <li class="type-auto-menu-item">Для большой семьи</li>
          <li class="type-auto-menu-item">Для охоты и рыбалки</li>
        </ul>
      </div>
    </div>
    <section class="main-pic-list">
      <div class="main-pic-list-cont">
        <div class="main-pic-list-item img-1 casko">
          <div class="main-pic-list-date">
            <div class="main-pic-list-date-item">Каско</div>
            <div class="main-pic-list-date-item">в подарок!</div>
          </div>
        </div>
        <div class="main-pic-list-item img-2 gos">
          <div class="main-pic-list-date">
            <div class="main-pic-list-date-item">Госпрограмма</div>
            <div class="main-pic-list-date-item">первый авто</div>
            <div class="main-pic-list-date-item">Семейный авто</div>
          </div>
        </div>
        <div class="main-pic-list-item img-3 pay_three">
          <div class="main-pic-list-date">
            <div class="main-pic-list-date-item">3</div>
            <div class="main-pic-list-date-item">Платежа</div>
            <div class="main-pic-list-date-item">за наш счёт</div>
          </div>
        </div>
      </div>
    </section>
    <section class="main-nov">
      <section class="main-title-wrap">
        <div class="main-title">
          <div class="main-title-text">Новинки в салоне</div>
        </div>
      </section>
      <div class="main-nov-cont">
        <div class="main-nov-item">
          <div class="main-nov-img"><%= image_tag "carso/img/main-page/main-nov-pic.png", alt:'', class: 'main-slider-pic-item' %></div>
          <div class="main-nov-wrap">
            <div class="main-nov-head">Новый KIA Sportage — кроссовер ломающий стереотипы</div>
            <div class="main-nov-text">Обновленный Sportage по-настоящему впечатляет. Знакомые атлетические, мужественные черты дополнены новой светодиодной оптикой, ов	ми 	бамперами и колесными дисками. Обновленный Sportage по-настоящему впечатляет. Знакомые атлетические, мужественные черты дополнены новой светодиоднойоптикой, 	новыми бамперами и колесными дисками.
            </div>
          </div>
        </div>
        <div class="main-nov-item">
          <div class="main-nov-img"><%= image_tag "carso/img/main-page/main-nov-pic.png", alt:'', class: 'main-slider-pic-item' %></div>
          <div class="main-nov-wrap">
            <div class="main-nov-head">Новый KIA Sportage — кроссовер ломающий стереотипы</div>
            <div class="main-nov-text">Обновленный Sportage по-настоящему впечатляет. Знакомые атлетические, мужественные черты дополнены новой светодиодной оптикой, ов	ми 	бамперами и колесными дисками. Обновленный Sportage по-настоящему впечатляет. Знакомые атлетические, мужественные черты дополнены новой светодиоднойоптикой, 	новыми бамперами и колесными дисками.
            </div>
          </div>
        </div>
      </div>
    </section>




    <section class="main-brand">
      <section class="main-title-wrap">
        <div class="main-title">
          <div class="main-title-text">
            Популярные авто
          </div>
        </div>
      </section>
      <div class="main-brand-item-cont">
        <%= render partial:'new_cars/small_new_cars_main', collection: @hit.where('`new_cars`.`hide` = 0').where('`new_cars`.`archive` = 0').order(created_at: :desc).limit(6), locals: {:show_brand => true, :credit_flag => false} %>
      </div>
    </section>
  </section>
