<% provide :title,'Купить безопасный автомобиль, доступные цены на безопасные авто в ' + @current_region.sklon3 %>
<% provide :description,'Продажа безопасных автомобилей в ' + @current_region.sklon3 + '. Наличные и безналичный расчет, кредит, рассрочка, trade-in 8(800)500-03-23' %>

<section class="inner">
    <h1 class="green">Каталог безопасных авто в <%= @current_region.sklon3 %></h1>
  <div class="content text">
    <p>
      Продажа безопасных авто – профильное направление для автосалона «Авиньон».
      Представленные у нас автомобили соответствуют стандартам безопасности, защищают
      водителя с пассажирами при ежедневной езде, незначительных столкновениях и крупных
      авариях.
    </p>
    <div class="row justify-content-center cr_tr_url">
    <div class="cr_tr_hr right row justify-content-center">
      <%= render partial:'new_cars/small_new_cars', collection: NewCar.where(id: [277,206,2697,1384,2647,151,331,291,342,281,295,2683 ]).where(hide:0), locals: {:show_brand => true, :credit_flag => false} %>
    </div>
    </div>
    <h2 class="title">Как выбрать безопасный автомобиль?</h2>
    <p>Проверьте системы активной безопасности. У безопасных машин должны быть системы:</p>
    <ul>
      <li>ABS, которая предотвратит блокировку колес при торможении;</li>
      <li>ASR, благодаря которой колеса не теряют сцепления с дорогой из-за пробуксовки;</li>
      <li>ESC, необходимая, чтобы автомобиль не заносило;</li>
      <li>EBD, работающая как ABS и помогающая водителю постоянно, а не только с
        экстренным торможением.</li>
    </ul>

    <p>
      Желательно, чтобы производитель оборудовал автомобиль парктроником, помощником
      при спуске, устройствами слежения в слепых зонах. Чем больше электронных
      помощников, тем безопаснее автомобиль.
      Оцените пассивную безопасность автомобиля. Уточните, насколько качественные ремни
      безопасности, надувные подушки, активные подголовники сидений. Безопасные
      автомобили должны иметь прочную клетку салона, специальные зоны деформации,
      травмобезопасные педали.
      Узнайте результаты краш-теста автомобиля. Производители могут называть любую свою
      разработку безопасной. Проверить честность утверждения позволяют краш-тесты: в них
      специалисты моделируют аварию и смотрят, насколько транспорт безопасный в опасной
      ситуации. Организации EuroNCAP, NHTSA, ADAS, ArCAP регулярно тестируют
      различные автомобили и выясняют, безопасные ли они.
    </p>
    <h2 class="title">Особенности покупки машин в автосалоне «Авиньон»</h2>
    <p>Для покупки безопасного авто обратитесь в наш автосалон. Мы предлагаем:</p>
    <ul class="">
      <li>новинки текущего года и ранние модели;</li>
      <li>все комплектации, заявленные производителем;</li>
      <li>выгодные цены, периодические акции;</li>
      <li>возможность кредитования;</li>
      <li>помощь в оформлении кредита.</li>
    </ul>
    <p>
      Узнайте о наличии модели по телефону или приезжайте на просмотр и тест-драйв.
    </p>
  </div>
</section>

<%= render 'partials/carso/credit_form' %>