<% provide :title, 'Купить авто под такси в кредит без первоначального взноса, новые машины для работы в такси, ' + @current_region.sklon1 + '— автосалон «Vostok моторс»' %>
<% provide :description,' Продажа новых автомобилей для работы в такси 🚖 Более 200+ автомобилей в наличии, автосалон в ' + @current_region.sklon3 + '❗️ кредит от 1,9% ❗️ Подарки при покупке машины под такси. — автосалон «Vostok моторс»' %>

 <h1 class="green">Такси в кредит</h1>

<div class="card_box_slide row justify-content-between align-items-center">
  <%= render partial:'new_cars/small_new_cars', collection: @hit.limit(10).where(hide:0), locals: {:show_brand => true, :credit_flag => false} %>
</div>

<div class="bank_block">
  <h2>Банки партнеры</h2>
  <div class="banks__main">
    <%= render partial:'partials/carso/bank', collection: Bank.all %>
  </div>
  <div class="bank_an">Внимание!</div>
  <div class="bank_an_if">К сожалению, банки не кредитуют регионы: Республика Кабардино-Балкария, Республика Чечня, Республика Дагестан, Республика Ингушетия, Республика Карачаево-Черкесия, Магадан.</div>
</div>

<%= render 'partials/carso/credit_form' %>




