reset_form($('input[value="<%= @ticket.form_name %>"]').closest('form'));

$.fancybox.close();

$.fancybox.open('<div><div>Ваша заявка принята</div><div>Наш менеджер свяжется с вами в ближайшее время.</div></div>', {
    afterShow: function(){

        $('input[value="<%= @ticket.form_name %>"]').closest('form').find('button:submit').prop("disabled", false);
      /*  gtag('event', 'send', {
            'event_category': 'form',
            'event_label': 'send'
        });*/

          //ADS
     //   gtag_report_conversion();


        // yandex form
        //ym(80934016,'reachGoal','AllForms'); //all form
       // yaCounter80934016.reachGoal("AllForms");
        ym(80934016,'reachGoal','AllForms');

        if ( $("body form.new_ticket").is("#expresscredithome_new_ticket")) {
            ym(80934016,'reachGoal','ClientForm541841946')
        }

        if ( $("body form").is("#tradeinpage_new_ticket")) {
            ym(80934016,'reachGoal','ClientForm65959814235')
        }
        if ( $("body form").is("#creditpage_new_ticket")) {
            ym(80934016,'reachGoal','ClientForm1460140028550')
        }
        if ( $(".fancybox-stage form").is(".tradein_modal_new_ticket")) {
            ym(80934016,'reachGoal','ClientForm641841985')
        }
        if ( $(".fancybox-stage form").is(".kredit_modal_new_ticket")) {
            ym(80934016,'reachGoal','ClientForm85341842015')
        }
        if ( $(".ex_fbn_form form").is(".spec_modal_new_ticket")) {
            ym(80934016,'reachGoal','ClientForm66441842117')
        }
        if ( $(".ex_fbn_form form").is(".obm_new_ticket")) {
            ym(80934016,'reachGoal','ClientForm102641842000')
        }
        if ( $(".credit_fbn_form form").is(".credit_20_new_ticket")) {
            ym(80934016,'reachGoal','ClientForm1461140044708')
        }
        if ( $("form").is(".banks_new_ticket")) {
            ym(80934016,'reachGoal','ClientForm145744286203')
        }
        if ( $("form").is(".taxi_new_ticket")) {
            ym(80934016,'reachGoal','taxi43530007')
        }
        if ( $(".modal_cookie_message form").find(".cookie_modal_vtb")) {
            ym(80934016,'reachGoal','popup_vtb141629344')
        }

        // yandex form


        // цели для таргета
        var _tmr = window._tmr || (window._tmr = []);
        _tmr.push({id: "3211271", type: "reachGoal", goal: "send"});


       // var _tmr = window._tmr || (window._tmr = []); _tmr.push({ id: "3063561", type: "reachGoal", goal: "vsezayavki"})


        //console.log("<%#= @ticket.form_name %>");

//        if ("<%#= @ticket.form_name %>" === "Всплывающее окно на странице модели") {
//            setCookie('model-popup-shown', '1', 1)

//            $('.car-visible-modal').addClass('hidden')
//        }


        //fb
      //  fbq('track', 'Lead');






    }
});

$('[data-role="ny-dialog"]').fadeOut(200);
$('.wrapper').removeClass('wrapper--fixed');

//$.jGrowl("Наш менеджер свяжется с вами в ближайшее время.", {
//    theme: "af-message-success",
//    sticky: true,
//    position: "center",
//    pool: 1,
//    header: "Ваша заявка принята",
//    life: 150000
//})