<% provide :title,'422' %>
<% provide :description,'422' %>

<div class="row">
    <h1 class="title-h1">Unprocessable Entity</h1>
  <div class="content">
    <p class="text">Для дальнейшей работы с сайтом предлагаем перейти на
      <%=link_to 'главную страницу', root_url, class: 'text-link' %>
      или в раздел <%=link_to 'каталог новых авто', newauto_path, class: 'text-link' %>.</p>
  </div>
</div>
