<div class="social_bl">
  <div class="social_inf">
    <div class="sbl_1">
      <i>
      <svg width="66" height="67" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M33 2.99023C27.0171 2.99023 21.1686 4.76437 16.194 8.08828C11.2194 11.4122 7.34221 16.1366 5.05266 21.6641C2.76311 27.1915 2.16406 33.2738 3.33126 39.1417C4.49846 45.0097 7.3795 50.3997 11.61 54.6303C15.8406 58.8608 21.2306 61.7418 27.0985 62.909C32.9665 64.0762 39.0487 63.4772 44.5762 61.1876C50.1037 58.8981 54.8281 55.0209 58.152 50.0463C61.4759 45.0717 63.25 39.2231 63.25 33.2403C63.2406 25.2204 60.0505 17.5316 54.3795 11.8607C48.7086 6.18978 41.0199 2.9997 33 2.99023ZM33 57.9903C28.1049 57.9903 23.3198 56.5387 19.2496 53.8191C15.1795 51.0996 12.0073 47.2342 10.134 42.7117C8.26073 38.1892 7.77059 33.2128 8.72558 28.4118C9.68056 23.6107 12.0378 19.2007 15.4991 15.7394C18.9605 12.278 23.3705 9.92079 28.1715 8.9658C32.9726 8.01082 37.949 8.50095 42.4714 10.3742C46.9939 12.2475 50.8593 15.4198 53.5789 19.4899C56.2985 23.56 57.75 28.3452 57.75 33.2403C57.742 39.8019 55.1319 46.0925 50.4921 50.7323C45.8523 55.3721 39.5617 57.9823 33 57.9903Z" fill="#D0D0D0"/>
        <path d="M35.75 32.1017V16.7402C35.75 16.0109 35.4603 15.3114 34.9445 14.7957C34.4288 14.28 33.7293 13.9902 33 13.9902C32.2707 13.9902 31.5712 14.28 31.0555 14.7957C30.5397 15.3114 30.25 16.0109 30.25 16.7402V33.2402C30.2502 33.9695 30.54 34.6689 31.0558 35.1845L39.3058 43.4345C39.8244 43.9354 40.5191 44.2126 41.2401 44.2063C41.9611 44.2001 42.6509 43.9108 43.1608 43.401C43.6706 42.8911 43.9598 42.2014 43.9661 41.4803C43.9724 40.7593 43.6952 40.0646 43.1943 39.546L35.75 32.1017Z" fill="#6AD1A6"/>
      </svg>
      </i>
      <span>Размышляете о покупке в ближайшем будущем?</span></div>
    <div class="sbl_2">
      Просматривайте новые спецпредложения в наших социальных сетях:
     <div class="dbl_soc">
       <a href="https://www.facebook.com/avignonavto/" title="" target="_blank"><svg width="60" height="61" viewBox="0 0 60 61" fill="none" xmlns="http://www.w3.org/2000/svg">
         <rect y="0.240234" width="60" height="60" rx="2" fill="#1260B0"/>
         <rect y="0.240234" width="60" height="60" rx="2" fill="url(#paint0_linear)"/>
         <path d="M36.822 21.3426H32.493C31.98 21.3426 31.41 22.0176 31.41 22.9146V26.0406H36.825L36.006 30.4986H31.41V43.8816H26.301V30.4986H21.666V26.0406H26.301V23.4186C26.301 19.6566 28.911 16.5996 32.493 16.5996H36.822V21.3426Z" fill="white"/>
         <defs>
           <linearGradient id="paint0_linear" x1="0.5" y1="0.240233" x2="59.5" y2="60.2402" gradientUnits="userSpaceOnUse">
             <stop stop-color="white" stop-opacity="0"/>
             <stop offset="0.520179" stop-color="white" stop-opacity="0.1"/>
             <stop offset="0.521359" stop-color="white" stop-opacity="0"/>
           </linearGradient>
         </defs>
       </svg></a>
       <a href="https://ok.ru/group/57829196496913" title="" target="_blank"><svg width="60" height="61" viewBox="0 0 60 61" fill="none" xmlns="http://www.w3.org/2000/svg">
         <rect y="0.240234" width="60" height="60" rx="2" fill="#1260B0"/>
         <rect y="0.240234" width="60" height="60" rx="2" fill="url(#paint0_linear)"/>
         <rect y="0.240234" width="60" height="60" rx="2" fill="#1260B0"/>
         <rect y="0.240234" width="60" height="60" rx="2" fill="url(#paint1_linear)"/>
         <path fill-rule="evenodd" clip-rule="evenodd" d="M29.6619 32.0205C32.1516 32.0188 34.539 31.0401 36.3003 29.2993C38.0615 27.5585 39.0529 25.1976 39.0568 22.7346C39.0546 20.2703 38.0641 17.9075 36.3027 16.165C34.5413 14.4225 32.1529 13.4426 29.6619 13.4404C27.1715 13.4426 24.7838 14.4227 23.0234 16.1654C21.263 17.9081 20.274 20.2709 20.2735 22.7346C20.2757 25.197 21.2656 27.5579 23.0258 29.2989C24.7861 31.0399 27.1728 32.0188 29.6619 32.0205ZM33.4612 39.6014C35.3927 39.1629 37.2361 38.4068 38.9146 37.3646C39.2204 37.174 39.4853 36.9257 39.6941 36.6338C39.903 36.3419 40.0516 36.0122 40.1317 35.6635C40.2117 35.3148 40.2215 34.9539 40.1605 34.6015C40.0996 34.249 39.969 33.9119 39.7763 33.6093C39.5837 33.3068 39.3327 33.0447 39.0376 32.8382C38.7426 32.6316 38.4093 32.4845 38.0568 32.4053C37.7043 32.3262 37.3395 32.3165 36.9832 32.3768C36.6269 32.4371 36.2862 32.5662 35.9803 32.7568C34.0844 33.9283 31.8939 34.5493 29.6586 34.5493C27.4232 34.5493 25.2328 33.9283 23.3368 32.7568C22.7199 32.4016 21.9877 32.2974 21.2947 32.4661C20.6016 32.6348 20.0019 33.0633 19.622 33.6611C19.2422 34.2589 19.112 34.9793 19.2588 35.6702C19.4057 36.3612 19.8181 36.9687 20.4092 37.3646C22.0876 38.4068 23.931 39.1629 25.8625 39.6014L20.6093 44.7917C20.0934 45.303 19.8039 45.996 19.8046 46.7183C19.8052 47.4407 20.0958 48.1332 20.6126 48.6436C21.1294 49.1539 21.8299 49.4403 22.5601 49.4397C23.2903 49.4391 23.9903 49.1515 24.5062 48.6403L29.6619 43.54L34.8241 48.6403C35.8976 49.7071 37.636 49.7071 38.7145 48.6403C39.23 48.1297 39.5196 47.4376 39.5196 46.716C39.5196 45.9944 39.23 45.3023 38.7145 44.7917L33.4612 39.6014ZM32.4118 20.0142C31.6824 19.2926 30.6934 18.8869 29.6619 18.886C28.6304 18.8869 27.6414 19.2926 26.912 20.0142C26.1826 20.7357 25.7724 21.7141 25.7716 22.7346C25.7742 23.7537 26.1852 24.7302 26.9144 25.4501C27.6437 26.17 28.6317 26.5745 29.6619 26.5749C30.6921 26.5745 31.6801 26.17 32.4093 25.4501C33.1386 24.7302 33.5496 23.7537 33.5522 22.7346C33.5513 21.7141 33.1412 20.7357 32.4118 20.0142Z" fill="white"/>
         <defs>
           <linearGradient id="paint0_linear" x1="30" y1="0.240234" x2="30" y2="60.2402" gradientUnits="userSpaceOnUse">
             <stop stop-color="white"/>
             <stop offset="1" stop-color="white" stop-opacity="0"/>
           </linearGradient>
           <linearGradient id="paint1_linear" x1="0.5" y1="0.240233" x2="59.5" y2="60.2402" gradientUnits="userSpaceOnUse">
             <stop stop-color="white" stop-opacity="0"/>
             <stop offset="0.520179" stop-color="white" stop-opacity="0.1"/>
             <stop offset="0.521359" stop-color="white" stop-opacity="0"/>
           </linearGradient>
         </defs>
       </svg></a>
       <a href="https://vk.com/avignon.auto" title="" target="_blank"><svg width="60" height="61" viewBox="0 0 60 61" fill="none" xmlns="http://www.w3.org/2000/svg">
         <rect y="0.240234" width="60" height="60" rx="2" fill="#1260B0"/>
         <rect y="0.240234" width="60" height="60" rx="2" fill="url(#paint0_linear)"/>
         <rect y="0.240234" width="60" height="60" rx="2" fill="#1260B0"/>
         <rect y="0.240234" width="60" height="60" rx="2" fill="url(#paint1_linear)"/>
         <path d="M41.076 33.9343C41.076 33.9343 43.623 36.4483 44.25 37.6153C44.268 37.6393 44.277 37.6633 44.283 37.6753C44.538 38.1043 44.598 38.4373 44.472 38.6863C44.262 39.1003 43.542 39.3043 43.296 39.3223H38.796C38.484 39.3223 37.83 39.2413 37.038 38.6953C36.429 38.2693 35.829 37.5703 35.244 36.8893C34.371 35.8753 33.615 34.9993 32.853 34.9993C32.7562 34.9992 32.66 35.0144 32.568 35.0443C31.992 35.2303 31.254 36.0523 31.254 38.2423C31.254 38.9263 30.714 39.3193 30.333 39.3193H28.272C27.57 39.3193 23.913 39.0733 20.673 35.6563C16.707 31.4713 13.137 23.0773 13.107 22.9993C12.882 22.4563 13.347 22.1653 13.854 22.1653H18.399C19.005 22.1653 19.203 22.5343 19.341 22.8613C19.503 23.2423 20.097 24.7573 21.072 26.4613C22.653 29.2393 23.622 30.3673 24.399 30.3673C24.5447 30.3656 24.6878 30.3286 24.816 30.2593C25.83 29.6953 25.641 26.0803 25.596 25.3303C25.596 25.1893 25.593 23.7133 25.074 23.0053C24.702 22.4923 24.069 22.2973 23.685 22.2253C23.8404 22.0109 24.0452 21.837 24.282 21.7183C24.978 21.3703 26.232 21.3193 27.477 21.3193H28.17C29.52 21.3373 29.868 21.4243 30.357 21.5473C31.347 21.7843 31.368 22.4233 31.281 24.6103C31.254 25.2313 31.227 25.9333 31.227 26.7613C31.227 26.9413 31.218 27.1333 31.218 27.3373C31.188 28.4503 31.152 29.7133 31.938 30.2323C32.0405 30.2966 32.159 30.3309 32.28 30.3313C32.553 30.3313 33.375 30.3313 35.601 26.5123C36.2875 25.2831 36.8841 24.0058 37.386 22.6903C37.431 22.6123 37.563 22.3723 37.719 22.2793C37.8341 22.2206 37.9618 22.1908 38.091 22.1923H43.434C44.016 22.1923 44.415 22.2793 44.49 22.5043C44.622 22.8613 44.466 23.9503 42.027 27.2533L40.938 28.6903C38.727 31.5883 38.727 31.7353 41.076 33.9343Z" fill="white"/>
         <defs>
           <linearGradient id="paint0_linear" x1="30" y1="0.240234" x2="30" y2="60.2402" gradientUnits="userSpaceOnUse">
             <stop stop-color="white"/>
             <stop offset="1" stop-color="white" stop-opacity="0"/>
           </linearGradient>
           <linearGradient id="paint1_linear" x1="0.5" y1="0.240233" x2="59.5" y2="60.2402" gradientUnits="userSpaceOnUse">
             <stop stop-color="white" stop-opacity="0"/>
             <stop offset="0.520179" stop-color="white" stop-opacity="0.1"/>
             <stop offset="0.521359" stop-color="white" stop-opacity="0"/>
           </linearGradient>
         </defs>
       </svg></a>
     </div>
    </div>
  </div>
  <div><%= image_tag 'carso/icons/soc_car.png',alt:'',lazy:false %></div>
</div>