<%
  region = false
  unless @current_region.id == 57
    region = true
  end
%>

<footer class="footer">
 <div class="container">

  <div class="f_info">
    <div class="f_ti">Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положением ч. 2 ст. 437 Гражданского кодекса Российской Федерации. Для получения подробной информации о стоимости автомобилей, пожалуйста, обращайтесь к менеджеру по продажам. Все цены на сайте указаны с учетом скидок. Условия на покупку автомобиля указаны по кредиту и включают в себя обязательные страховые продукты, которые оплачиваются отдельно.</div>
    <div class="h_tel">
      <div class="d-flex">
       <a href="tel:88005000323" rel="nofollow" class="row"><span itemprop="telephone">8 800 500-08-17</span></a>
      </div>
      <div class="home_location">Москва, ул. Привольная, 70к1. Метро Котельники</div>
    </div>
  </div>
<div class="f_info_end">
   <div>
    <div class="f_span">Предоставляя свои персональные данные и используя настоящий веб-сайт, Вы соглашаетесь с обработкой Ваших персональных данных и принимаете условия их обработки.</div>
    <div class="f_info_pol"><a href="/politika-konfidencialnosti" rel="nofollow">Политика конфиденциальности</a><a href="/pravila-provedeniya-akciy" rel="nofollow">Правила проведения акций</a></div>
   </div>
</div>
 </div>
</footer>
<div class="toolbar_m fb_finx">
  <div class="mbrb sale_bn" id="modal_cookie_message"><div class="t_cnt"><%= image_tag "carso/icons/f_tr.png", alt:'' %></div><div class="p_cell">Заявка на кредит</div></div>
  <a href="tel:88005000323" class="cell_f" rel="nofollow"><div class="t_cnt"><%= image_tag "carso/icons/phone_w.png", alt:'' %></div><div class="p_cell">Позвонить</div></a>
  <a href="yandexnavi://build_route_on_map?lat_to=55.678354&lon_to=37.852721" class="mbrb" style=""><div class="t_cnt"><%= image_tag "carso/icons/f_adr.png", alt:'' %></div><div class="p_cell">Проезд до автосалона</div></a>
</div>