<footer>
  <div class="footer-wrap">
    <div class="footer-pop">
      <div class="footer-pop-title">Популярные марки</div>
      <div class="footer-pop-brands">
        <%= render partial:'partials/carso/brand_list_main', collection: @brands %>
      </div>
      <div class="footer-attention">
        Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положением ч. 2 ст. 437 Гражданского кодекса Российской Федерации. Для получения подробной информации о стоимости автомобилей, пожалуйста, обращайтесь к менеджеру по продажам. Все цены на сайте указаны с учётом скидок. Условия на покупку автомобиля указаны по кредиту и включают в себя обязательные страховые продукты, которые оплачиваются отдельно.
      </div>
      <div class="footer-cookies">
        Наш сайт использует файлы cookie для лучшего пользовательского опыта. Если вы не хотите их передавать, отключите cookie в настройках браузера.
        Предоставляя свои персональные данные и используя настоящий веб-сайт, вы соглашаетесь с обработкой ваших персональных данных и принимаете условия их обработки.
      </div>
      <div class="footer-links">
        <div class="footer-links-item"><a href="/">Политика конфиденциальности</a></div>
        <div class="footer-links-item"><a href="">Правила проведения акций</a></div>
      </div>
    </div>
  </div>
  <div class="footer-wrap">
    <div class="footer-phones-soc">
      <div class="footer-phones">
        <div class="footer-phones-item">
          +7 (495) 225-35-45
        </div>
        <div class="footer-phones-item">
          8(800)707-53-51
        </div>
      </div>
      <div class="footer-adress">г. Москва, Привольная 70к1 (м. Котельники)</div>
      <div class="footer-soc">
        <div class="footer-soc-title">Следите за нами в соцсетях</div>
        <div class="footer-soc-icons">
          <div class="footer-soc-icons_item">
            <a href="" class="footer-soc-icons_fb"></a>
            <a href="" class="footer-soc-icons_vk"></a>
            <a href="" class="footer-soc-icons_ok"></a>
            <a href="" class="footer-soc-icons_tg"></a>
          </div>
        </div>
      </div>
      <div class="footer-pay">
        <div class="footer-pay-title">Мы принимаем</div>
        <div class="footer-pay-item">
          <div class="footer-card-icons">
            <div class="footer-card-icons_item">
              <a href="" class="footer-card-icons_visa"></a>
              <a href="" class="footer-card-icons_master"></a>
              <a href="" class="footer-card-icons_mo"></a>
              <a href="" class="footer-card-icons_mir"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="toolbar_m fb_finx">


  <div class="tbl_r mbrb sale_bn" id="modal_cookie_message"><div class="p_cell">Заявка на кредит</div></div>

  <div class="tbl_r">
   <a href="tel:88005000323" class="cell_f" rel="nofollow"><div class="t_cnt"><%= image_tag "carso/img/phone.svg", alt:'' %></div><div class="p_cell">Позвонить</div></a>
  </div>
</div>