<aside class="modal modal--colors profit__modal" id="profit__util">
  <div class="modal__top">
    <button type="button" class="modal__close-btn" data-fancybox-close>
      <%= svg_tag 'carso/icons.svg','svg-close',40,40,id:'nav-close',class:'' %>
    </button>

    <div class="modal__title">
      <div class="modal__title-name">
        Выгода за утилизацию вашего авто
      </div>
      <p class="modal__title-additional">
        <b>Срок проведения - </b>до <%= l(SALE_DATE, format: :next_monday) %><br>
        <b>Место проведения - </b>автомобильный салон «Авимоторс», который располагается в городе Москва по адресу: Дмитровское шоссе, дом 157, строение 4.
      </p>
    </div>
  </div>

  <div class="modal__inner">

    <div class="modal__colors-wrapper">
      <p>
        Авимоторс входит в список автосалонов Москвы, участвующих в программе утилизации подержанных автомобилей. В нашем автосалоне Вы сможете утилизировать свой старый автомобиль и получить скидку 50 000 рублей при покупке нового!
      </p>
      <p>
        После получения бланка Вы сможете купить у нас любую модель со скидкой 50 000 рублей! Наши сотрудники помогут быстро подобрать автомобиль Вашей мечты — именно тот, который будет радовать каждый день!
      </p>
      <p>
        Даже в том случае, если автомобиль был утилизирован в другом месте, Вы получите скидку 50 000 рублей. Для этого нужно лишь предоставить нам соответствующий утилизационный сертификат.
      </p>
      <p>
        Используйте подержанный автомобиль как первый взнос за новый! Не упустите свою выгоду в автосалоне Авимоторс!
      </p>

      <h4>ОБМЕН СТАРОГО АВТО НА НОВОЕ</h4>
      <p>
        Сдайте Ваш подержанный (или битый) автомобиль по самой выгодной цене и забирайте новый. Либо выберите авто с пробегом в наличии нашего автосалона из каталога ниже и оставляйте заявку.
      </p>

      <h4>В РАССРОЧКУ ИЛИ КРЕДИТ</h4>
      <p>
        Программа trade-in авто от «Центрального» дает уникальную возможность получить новый автомобиль взамен старого на выгодных условиях кредита или рассрочки.
      </p>

      <h4>ОЦЕНКА ВАШЕГО АВТО ПО РЫНОЧНОЙ ЦЕНЕ</h4>
      <p>
        Наши специалисты дадут оценку Вашего подержанного автомобиля на основании предоставленной о нем информации. Вскоре с Вами вяжутся и помогут обменять машину по нашей программе трейд-ин авто.
      </p>

      <h4>ТРЕЙД-ИН ЗА 1 ЧАС</h4>
      <p>
        Для обмена старого авто на новый по программе трейд-ин - требуется не более 1 часа. За это время наши сотрудники подберут подходящий автомобиль и оформят все документы.
      </p>


      <h4>
        УСЛОВИЯ ПРОГРАММЫ
      </h4>
      <ol>
        <li>
          Автомобиль любой марки и страны происхождения старше 6 лет.
        </li>
        <li>
          Масса автомобиля не должна превышать 3,5 тонны.
        </li>
      </ol>

      <h4>
        ПРОЦЕСС УТИЛИЗАЦИИ
      </h4>
      <ol>
        <li>
          Необходимо привезти или транспортировать автомобиль в салон (если он не на ходу).
        </li>
        <li>
          Нужно получить от автосалона бланк, подтверждающий снятие автомобиля с учета.
        </li>
        <li>
          По времени утилизация автомобиля не превысит 1-2 часа.
        </li>
      </ol>

    </div>

  </div>
</aside>