<aside class="modal modal--colors profit__modal" id="profit__dealer">
  <div class="modal__top">
    <button type="button" class="modal__close-btn" data-fancybox-close>
      <%= svg_tag 'carso/icons.svg','svg-close',40,40,id:'nav-close',class:'' %>
    </button>

    <div class="modal__title">
      <div class="modal__title-name">
        Спецпредложение от дилера
      </div>
      <p class="modal__title-additional">
        <b>Срок проведения - </b>до <%= l(SALE_DATE, format: :next_monday) %><br>
        <b>Место проведения - </b>автомобильный салон «Дисконт Авто», который располагается в городе Москва по адресу: Дмитровское шоссе, дом 157, строение 4.
      </p>
    </div>
  </div>

  <div class="modal__inner">

    <div class="modal__colors-wrapper">
      <p>
        Акция распространяется только на новые автомобили. Предложение действует только в отношении акционных автомобилей. Актуальный перечень и размеры скидок можно уточнить на данном сайте или у менеджеров автосалона.
      </p>
      <p>
        Скидка предоставляется в виде снижения отпускной цены на автомобиль в момент покупки. Количество товаров ограничено. Акция автоматически прекращается в момент исчерпания доступного количества акционных автомобилей.
      </p>
      <p>
        Autosalon-M оставляет за собой право отказать участнику акции в получении скидки, если отдельные действия участника не соответствуют приведенным здесь правилам проведения акции.
      </p>
      <p>
        Autosalon-M оставляет за собой право изменять сроки и условия проведения данной акции, а также ассортимент и количество акционных автомобилей, в том числе приостанавливать сроки проведения акции путем внесения изменений в представленные здесь правила проведения акции.
      </p>
    </div>

  </div>
</aside>