<aside class="modal modal--colors profit__modal" id="profit__family">
  <div class="modal__top">
    <button type="button" class="modal__close-btn" data-fancybox-close>
      <%= svg_tag 'carso/icons.svg','svg-close',40,40,id:'nav-close',class:'' %>
    </button>

    <div class="modal__title">
      <div class="modal__title-name">
        Госпрограмма -10% семейный автомобиль
      </div>
      <p class="modal__title-additional">
        <b>Срок проведения - </b>до <%= l(SALE_DATE, format: :next_monday) %><br>
        <b>Место проведения - </b>автомобильный салон «Дисконт Авто», который располагается в городе Москва по адресу: Дмитровское шоссе, дом 157, строение 4.
      </p>
    </div>
  </div>

  <div class="modal__inner">

    <div class="modal__colors-wrapper">
      <p>
        Приобрести автомобиль быстро и недорого можно в компании "Дисконт Авто". Салон предлагает не только новые автомобили, но и машины с пробегом. Есть возможность оформления кредита или рассрочки. Отдельно стоит отметить программы по государственному субсидированию. В ходе программы покупателю возмещается часть процентов по оформленному займу. Это такие программы как "Первый автомобиль" и "Семейный автомобиль".
      </p>
      <ul>
        <li>
          Автоматизированная система, проверки анкеты
        </li>
        <li>
          Досрочное погашение кредита без штрафа
        </li>
        <li>
          Первоначальный взнос от 0 рублей
        </li>
        <li>
          Процент по кредиту 1,9% годовых
        </li>
        <li>
          Срок кредитования от 6 месяцев до 7 лет
        </li>
        <li>
          Сумма кредитования до 3 500 000 рублей
        </li>
      </ul>

      <h4>УСЛОВИЯ ПО ПРОГРАММЕ "СЕМЕЙНЫЙ АВТОМОБИЛЬ"</h4>
      <p>
        На основании постановления Правительства РФ от 16.04.2015 г. по № 364 предоставляются льготы при покупке автомобиля для определенных групп граждан. После внесения изменений в данное Постановление приобрести машину на льготных условиях могут также семьи, у которых более двух детей и люди, которые первый раз приобретают автомобиль. При этом есть некоторые условия, которые необходимо соблюдать в ходе данной программы. Займы предоставляются на общих условиях банковскими организациями. При этом часть процентов по этому кредиту компенсирует государство. Размер субсидии по этой программе составляет 10% от стоимости.
      </p>

      <h4>ТРЕБОВАНИЯ К ПОЛУЧАТЕЛЮ</h4>
      <ol>
        <li>
          Наличие минимум двух детей.
        </li>
        <li>
          Гражданство РФ.
        </li>
        <li>
          Наличие водительского удостоверения.
        </li>
        <li>
          После приобретения автомобиля по данной программе нельзя покупать автомобиль в кредит в течение года. Необходимо также учитывать, что сам банк может предъявлять некоторые требования и ограничения при получении кредита по данной программе. Конкретные требования определяются специалистами кредитного учреждения.
        </li>
      </ol>

      <h4>ТРЕБОВАНИЯ К АВТОМОБИЛЮ</h4>
      <ol>
        <li>
          Стоимость транспортного средства не должна превышать 1,45 млн. руб;
        </li>
        <li>
          Автомобиль обязательно должен быть отечественного производства. При этом под категорию подпадают и иностранные производители, чьи производственные мощности расположены в России;
        </li>
        <li>
          Дата выпуска должна быть не позднее 2016 года;
        </li>
        <li>
          Автомобиль должен быть новым;
        </li>
        <li>
          Масса автомобиля не может быть больше 3.5 тонн.
        </li>

      </ol>

      <h4>ДРУГИЕ ТРЕБОВАНИЯ</h4>
      <ol>
        <li>
          Срок выплаты не более 36 месяцев;
        </li>
        <li>
          Ставка кредита не более чем 18%;
        </li>
        <li>
          Субсидия не должна превышать 3.6% стоимости машины;
        </li>
        <li>
          При этом банк может предъявлять и другие требования к получателю. Все подробности относительно действующей программы можно узнать непосредственно у специалистов компании в офисе.
        </li>
       </ol>

      <h4>КАК ПОЛУЧИТЬ</h4>
      <p>
        Воспользоваться программой "Семейный автомобиль" очень просто. Для этого нужно посетить офис компании "Дисконт Авто" и обратиться к специалистам. Для каждого покупателя подбираются наиболее выгодные и подходящие условия кредитования и предоставления услуг. Это уникальная возможность получить новый автомобиль на выгодных условиях и воспользоваться субсидированием от государства.
      </p>

    </div>

  </div>
</aside>