<aside class="modal modal--colors profit__modal" id="profit__tradein">
  <div class="modal__top">
    <button type="button" class="modal__close-btn" data-fancybox-close>
      <%= svg_tag 'carso/icons.svg','svg-close',40,40,id:'nav-close',class:'' %>
    </button>

    <div class="modal__title">
      <div class="modal__title-name">
        TRAID-IN С КОМПЕНСАЦИЕЙ ОТ 40 000 ₽ ДО 350 000 ₽
      </div>
      <p class="modal__title-additional">
        <b>Срок проведения - </b>до <%= l(SALE_DATE, format: :next_monday) %><br>
        <b>Место проведения - </b>автомобильный салон «AviCAR», который располагается в городе Москва по адресу: Дмитровское шоссе, дом 157, строение 4.
      </p>
    </div>
  </div>

  <div class="modal__inner">

    <div class="modal__colors-wrapper">
      <p>
        Воспользуйтесь возможностью дополнительно сэкономить до 350 000 ₽ на покупке, сдав Ваш старый автомобиль по программе обмена.
      </p>
      <ul>
        <li>
          AviCAR предлагает воспользоваться выгодной программой «ТРЕЙД-ИН» – сдать старый авто с пробегом и получить новый автомобиль.
        </li>
        <li>
          Данной услугой уже воспользовались десятки людей, а мы заслужили множество положительных отзывов о своей трейд-ин программе.
        </li>
        <li>
          Благодаря условиям программы трейд-ин, Вы можете в удобное время приехать к нам, сдать старый авто и купить новый или взять машину с пробегом, а наши сотрудники помогут подобрать тот вариант, который наиболее подходит с финансовой точки зрения ипо Вашим предпочтениям.
        </li>
      </ul>

      <h4>ОБМЕН СТАРОГО АВТО НА НОВОЕ</h4>
      <p>
        Сдайте Ваш подержанный (или битый) автомобиль по самой выгодной цене и забирайте новый. Либо выберите авто с пробегом в наличии нашего автосалона из каталога ниже и оставляйте заявку.
      </p>

      <h4>В РАССРОЧКУ ИЛИ КРЕДИТ</h4>
      <p>
        Программа trade-in авто от «Центрального» дает уникальную возможность получить новый автомобиль взамен старого на выгодных условиях кредита или рассрочки.
      </p>

      <h4>ОЦЕНКА ВАШЕГО АВТО ПО РЫНОЧНОЙ ЦЕНЕ</h4>
      <p>
        Наши специалисты дадут оценку Вашего подержанного автомобиля на основании предоставленной о нем информации. Вскоре с Вами вяжутся и помогут обменять машину по нашей программе трейд-ин авто.
      </p>

      <h4>ТРЕЙД-ИН ЗА 1 ЧАС</h4>
      <p>
        Для обмена старого авто на новый по программе трейд-ин - требуется не более 1 часа. За это время наши сотрудники подберут подходящий автомобиль и оформят все документы.
      </p>

    </div>

  </div>
</aside>