<aside class="modal modal--colors profit__modal" id="profit__credit">
  <div class="modal__top">
    <button type="button" class="modal__close-btn" data-fancybox-close>
      <%= svg_tag 'carso/icons.svg','svg-close',40,40,id:'nav-close',class:'' %>
    </button>

    <div class="modal__title">
      <div class="modal__title-name">
        Скидка при оформлении авто в кредит 1,9% + каско на 1 год
      </div>
      <p class="modal__title-additional">
        <b>Срок проведения - </b>до <%= l(SALE_DATE, format: :next_monday) %><br>
        <b>Место проведения - </b>автомобильный салон «Дисконт Авто», который располагается в городе Москва по адресу: Дмитровское шоссе, дом 157, строение 4.
      </p>
    </div>
  </div>

  <div class="modal__inner">

    <div class="modal__colors-wrapper">

      <h4>КРЕДИТ ОТ 1,9%</h4>
      <ul>
        <li>
          Автоматизированная система, проверки анкеты
        </li>
        <li>
          Досрочное погашение кредита без штрафа
        </li>
        <li>
          Первоначальный взнос от 0 рублей
        </li>
        <li>
          Процент по кредиту 1,9% годовых
        </li>
        <li>
          Срок кредитования от 6 месяцев до 7 лет
        </li>
        <li>
          Сумма кредитования до 3 500 000 рублей
        </li>
        <li>
          Возможность сдать свой автомобиль по системе Trade-in в качестве первоначального взноса
        </li>
      </ul>

      <h4>РАССРОЧКА 0%</h4>
      <ul>
        <li>
          Первоначальный взнос от 30%
        </li>
        <li>
          Процент по рассрочке 0%
        </li>
        <li>
          Срок рассрочки от 1 года до 3 лет
        </li>
        <li>
          Сумма рассрочки до 1 900 000 рублей
        </li>
        <li>
          Возможность сдать свой автомобиль по системе Trade-in в качестве первоначального взноса.
        </li>
      </ul>

      <h4>Необходимые условия получение кредита:</h4>
      <ol>
        <li>
          Резидент РФ старше 18 лет
        </li>
        <li>
          Наличие постоянной или временной регистрации в одном из регионов РФ
        </li>
        <li>
          Наличие минимум двух документов (паспорт гражданина РФ и водительское удостоверение) обязательно.
        </li>
      </ol>

      <h4>СКИДКА 40 000 РУБ</h4>
      <p>
        При наличии первоначального взноса дополнительная скидка на покупку автомобиля 40 000 рублей.
      </p>

      <h4>ПЕРВОНАЧАЛЬНЫЙ ВЗНОС</h4>
      <p>
        Вы можете использовать свой автомобиль в качестве первоначального взноса
      </p>

      <h4>В РАССРОЧКУ ИЛИ В КРЕДИТ</h4>
      <p>
        Программа trade-in авто от «Центрального» дает уникальную возможность получить новый автомобиль взамен старого на выгодных условиях кредита или рассрочки.
      </p>

      <h4>ВЫГОДА ОТ УТИЛИЗАЦИИ</h4>
      <p>
        Вы сможете купить у нас любую модель со скидкой 50 000 рублей, если участвуете в программе “Утилизация”.
      </p>

    </div>

  </div>
</aside>