<aside class="modal modal--colors profit__modal" id="profit__fee">
  <div class="modal__top">
    <button type="button" class="modal__close-btn" data-fancybox-close>
      <%= svg_tag 'carso/icons.svg','svg-close',40,40,id:'nav-close',class:'' %>
    </button>

    <div class="modal__title">
      <div class="modal__title-name">
        Первоначальный Взнос от 10% и выше
      </div>
      <p class="modal__title-additional">
        <b>Срок проведения - </b>до <%= l(SALE_DATE, format: :next_monday) %><br>
        <b>Место проведения - </b>автомобильный салон «Авиньон», который располагается в городе Москва по адресу: Дмитровское шоссе, дом 157, строение 4.
      </p>
    </div>
  </div>

  <div class="modal__inner">

    <div class="modal__colors-wrapper">
      <p>
        Скидка предоставляется только при покупке новых автомобилей с привлечением кредитных средств от банков-партнёров.
      </p>
      <p>
        Банк оставляет за собой право отказа в выдаче кредита без объяснения причин. Автокредит предоставляется банками-партнёрами салона «Авиньон».
      </p>
      <p>
        Автомобиль и клиент должны соответствовать требованиям выбранной программы государственного субсидирования.
      </p>
      <p>
        Максимальная выгода по государственным программам субсидирования автокредитов составляет 10%, при условии, что стоимость автомобиля не превышает установленный порог по выбранной программе кредитования.
      </p>
    </div>

  </div>
</aside>