<aside class="modal modal--colors profit__modal" id="profit__first">
  <div class="modal__top">
    <button type="button" class="modal__close-btn" data-fancybox-close>
      <%= svg_tag 'carso/icons.svg','svg-close',40,40,id:'nav-close',class:'' %>
    </button>

    <div class="modal__title">
      <div class="modal__title-name">
        ПЕРВЫЙ АВТОМОБИЛЬ В КРЕДИТ ОТ 1,9%
      </div>
      <p class="modal__title-additional">
        <b>Срок проведения - </b>до <%= l(SALE_DATE, format: :next_monday) %><br>
        <b>Место проведения - </b>автомобильный салон «Дисконт Авто», который располагается в городе Москва по адресу: Дмитровское шоссе, дом 157, строение 4.
      </p>
    </div>
  </div>

  <div class="modal__inner">

    <div class="modal__colors-wrapper">
      <p>
        Autosalon-M активно взаимодействует с ведущими кредитными организациями по всей РФ. Перечень партнеров насчитывает свыше 47 банков. Наличие заемных средств дает возможность каждому покупателю приобрести именно тот автомобиль, который ему более всего привлекателен. Причем речь идет не только об отечественных моделях, но и об иномарках. На выбор доступны не только типовые кредитные предложения, но и ряд иных программ. Среди них стоит выделить рассрочку на покупку, Trade-In, а также субсидирование со стороны государства. С 01.07.2017 года введена в действие и новая программа, которая называется «Первый автомобиль».
      </p>
      <ol>
        <li>
          Автоматизированная система, проверки анкеты
        </li>
        <li>
          Досрочное погашение кредита без штрафа
        </li>
        <li>
          Первоначальный взнос от 0 рублей
        </li>
        <li>
          Процент по кредиту 1,9% годовых
        </li>
        <li>
          Срок кредитования от 6 месяцев до 7 лет
        </li>
        <li>
          Сумма кредитования до 3 500 000 рублей
        </li>
      </ol>

      <h4>УСЛОВИЯ ПРОГРАММЫ</h4>
      <p>
        Предложение основано на успешной базе уже действующих продуктов господдержки. Согласно предварительной информации возможно выделение государством суммы в пределах 7,5 млрд. р. для кредитования приобретаемых авто. Ниже указан ряд типовых требований, которые будут предъявляться к заявителю. Отдельные условия по каждому из банков можно дополнительно узнать в выбранном финансовом учреждении.
      </p>

      <h4>ТРЕБОВАНИЯ К ПОКУПАТЕЛЮ</h4>
      <ol>
        <li>
          Авто должно в обязательном порядке быть первым у клиента. Проверка проходит по БД ГИБДД и Бюро кредитных историй;
        </li>
        <li>
          Никакие ограничения по достатку и возрасту не предусмотрены;
        </li>
        <li>
          Клиент обязан иметь удостоверение на право вождения авто.
        </li>
      </ol>

      <h4>ТРЕБОВАНИЯ К АВТО</h4>
      <ol>
        <li>
          Стоимость ТС должна быть в пределах 1,45 млн. р.;
        </li>
        <li>
          Кредитование доступно для авто, которые выпущены в 2016 году и позднее;
        </li>
        <li>
          Сборка машины должна проходить на территории РФ.
        </li>
      </ol>

      <h4>ПРЕДУСМОТРЕННЫЕ ПРОГРАММОЙ ЛЬГОТЫ</h4>
      <p>
        Предложение основано на успешной базе уже действующих продуктов господдержки. Согласно предварительной информации возможно выделение государством суммы в пределах 7,5 млрд. р. для кредитования приобретаемых авто. Ниже указан ряд типовых требований, которые будут предъявляться к заявителю. Отдельные условия по каждому из банков можно дополнительно узнать в выбранном финансовом учреждении.
      </p>

      <h4>ДЛЯ ПОЛУЧЕНИЯ НЕОБХОДИМО</h4>
      <p>
        Воспользоваться консультацией нашего кредитного менеджера. При этом можно выбрать банк-партнер из озвученного им перечня. А можно лично посетить то финансовое учреждение, которое вам более всего нравится.
      </p>

      <h4>ИМЕЕТСЯ И РЯД ДОПОЛНИТЕЛЬНЫХ ОГРАНИЧЕНИЙ. СРЕДИ НИХ</h4>
      <ol>
        <li>
          Сумма изначального взноса должна быть 20%;
        </li>
        <li>
          При отсутствии взноса утрачивается право на получение скидки;
        </li>
        <li>
          Период кредитования составляет не более 3 лет;
        </li>
        <li>
          Банковская ставка в пределах 18% за год.
        </li>
      </ol>

    </div>

  </div>
</aside>