<% if credit_page?
  # m = 60
  # p = 25
  credit = true
 end %>
<% if tradein_page?
  # m = 60
  # p = 25
  tradein = true
 end %>

<% if new_cars_brand.special_options.present? and (new_cars_brand.special_options.include? 'Хит-продаж')
     class_topsale = "card--topsale"
   else
     class_topsale = ""
   end %>

<%
  if (new_cars_brand.discount_count + @region_discount) < new_cars_brand.equipments.where(hide:0).minimum(:price)*4/10
    snc_price = new_cars_brand.equipments.where(hide:0).minimum(:price) - new_cars_brand.discount_count - @region_discount
  else
    #snc_price = new_cars_brand.equipments.where(hide:0).minimum(:price)*6/10
    snc_price = new_cars_brand.equipments.where(hide:0).minimum(:price) - new_cars_brand.discount_count
  end
%>




<%= link_to ( new_car_path(new_cars_brand.brand.url,new_cars_brand.url)  ) do %>
<div class="main-brand-item">
  <div class="main-brand-img-wrap">
    <div class="main-brand-img">
      <% if new_cars_brand.colors[0].present? %>
        <%= image_tag new_cars_brand.colors[0].card.url %>
      <% end %>
    </div>
  </div>
  <div class="main-brand-price-text">
    <div class="main-brand-model"><%= new_cars_brand.name %></div>
    <div class="main-brand-price-cont">
      <div class="main-brand-benefit">
        <div class="main-brand-benefit_title">Выгода в кредит</div>
        <div class="main-brand-benefit_price"><%= number_with_delimiter((credit ? count_price(snc_price,PERCENT,MONTH):snc_price  ), delimiter: " ") %> ₽</div>
      </div>
    </div>
  </div>
</div>
<% end %>