 <div class="sbc-item"><span class="sbc-i-text"><%= image_tag "carso/icons/i_cr.png", alt: 'Кредит 1.9%' %></span></div>
 <div class="sbc-item"><span class="sbc-i-text"><%= image_tag "carso/icons/i_rs.png", alt: 'Рассрочка 0%' %></span></div>
 <div class="sbc-item"><span class="sbc-i-text"><%= image_tag "carso/icons/i_tr.png", alt: 'Трейд-ин' %></span></div>
 <div class="sbc-item"><span class="sbc-i-text"><%= image_tag "carso/icons/i_gr.png", alt: 'Гарантия' %></span></div>
