<% provide :title,'Каталог новых автомобилей: цены, комплектации, характеристики, производители | Купить у официального дилера "AviCAR" в ' + @current_region.sklon3 %>
<% provide :description,'Каталог автомобилей в автосалоне официального дилера "AviCAR" в ' + @current_region.sklon3 + ' - цены и комплектации, технические характеристики.' %>


<h1>Каталог новых автомобилей</h1>

    <ul class="big_cat_menu">
      <%= render partial:'carso/main_catalog', collection: @newauto_brands %>
    </ul>



<div class="card__box">
  <div>
    <h2>Хиты продаж</h2>
  </div>
  <div class="card_box_slide row justify-content-between align-items-center">
    <%= render partial:'new_cars/small_new_cars', collection: @hit.limit(6).where('`new_cars`.`hide` = 0'), locals: {:show_brand => true, :credit_flag => false} %>
  </div>
</div>