<%
  region = false
  unless @current_region.id == 57
    region = true
  end
%>

<%
  if @brand.new_cars.where(hide: 0, archive: 0).present?
    ordered_cars = @brand.new_cars.where(hide: 0, archive: 0).min_price_ordered
  else
    ordered_cars = @brand.new_cars.min_price_ordered
  end

    min_price = ordered_cars[0].equipments.where(hide:0).minimum(:price)

  if (ordered_cars[0].discount_count + @region_discount) < min_price*4/10
    min_discount_e = ordered_cars[0].discount_count + @region_discount
  else
    min_discount_e = min_price*4/10
  end

  max_price = ordered_cars.last.equipments.where(hide:0).maximum(:price)

  max_discount = ordered_cars.last.discount.to_i + ordered_cars.last.discount_tradein.to_i + ordered_cars.last.discount_credit.to_i + 50000 + 30000 +(max_price * 0.1).to_i

  if (max_discount + @region_discount) < max_price*4/10
    max_discount_e = max_discount + @region_discount
  else
    max_discount_e = max_price*4/10
  end
%>



<% t_mos = "Купить #{@brand.menutitle} в #{@current_region.sklon3} 🚗 цена на новый #{@brand.title} #{Time.current.year.to_s} в автосалоне у официального дилера — автосалон «Авимоторс»" %>
<% t_reg = "Купить #{@brand.menutitle} в #{@current_region.sklon3}, комплектации и цены #{(Time.current - 1.year).year.to_s + '-' + Time.current.year.to_s} на #{@brand.title} у официального дилера, весь модельный ряд в автосалоне — автосалон «Авимоторс»" %>
<% d_mos = "🚘 Каталог новых автомобилей #{@brand.title} у официального дилера в #{@current_region.sklon3} — Авимоторс 🚙 Модельный ряд и цены на #{@brand.menutitle} #{Time.current.year.to_s} года ❗ Скидки до #{number_with_delimiter(max_discount_e, delimiter: " ")} руб. 🎁 Подарки при покупке! ☎️ 8 (800) 707-53-51. — автосалон «Авимоторс»" %>
<% d_reg = "Купить #{@brand.menutitle} в автосалоне 🚘 Trade-in ✅ Рассрочка 0% ✅ Экспресс кредит от 1.9% ✅ Цены и Комплектации ✅ Весь модельный ряд #{@brand.title} у официального дилера в #{@current_region.sklon3} 🎁 Бонусы и Подарки! — автосалон «Авимоторс»" %>


<% unless region %>
  <% provide :title,t_mos %>
  <% provide :description,d_mos %>
<% else %>
  <% provide :title,t_reg %>
  <% provide :description,d_reg %>
<% end %>

<%
  #  if @brand.new_cars.where(hide: 0, archive: 0).present?
  #    brand_img = @brand.new_cars.where(hide: 0, archive: 0).order(images: :desc)[0].images[0].large.url
  #  else
  #    brand_img = @brand.new_cars.where(hide: 0, archive: 1).order(images: :desc)[0].images[0].large.url
  #  end
%>


<%
  modelsCount = NewCar.where(brand_id: @brand.id, hide: 0, archive: 0).length;
%>

<section class="main-cont">

  <section class="main-gifts">
    <section class="main-gifts-cont">
      <div class="main-gifts-item">
        <div class="main-gifts-img umbrella">

        </div>
        <div class="main-gifts-title snowflake">
          Каско
        </div>
        <div class="main-gifts-text train">
          покупателю в подарок
        </div>
      </div>
      <div class="main-gifts-item">
        <div class="main-gifts-img snowflake">

        </div>
        <div class="main-gifts-title">
          Зимняя резина
        </div>
        <div class="main-gifts-text">
          в подарок с автомобилем
        </div>
      </div>
      <div class="main-gifts-item">
        <div class="main-gifts-img train">

        </div>
        <div class="main-gifts-title">
          Оплата проезда
        </div>
        <div class="main-gifts-text">
          покупателя до автосалона
        </div>
      </div>
    </section>
  </section>



  <section class="main-brand">
    <section class="main-title-wrap">
      <div class="main-title">
        <div class="main-title-text">
          Модельный ряд <%= @brand.title %>
        </div>
      </div>
    </section>
    <div class="main-brand-item-head">
      Хэтчбеки
    </div>
    <div class="main-brand-item-cont">

    </div>
  </section>







  <% if @brand.new_cars.where(hide: 0, archive: 0).present? %>
    <% brand_car_types = NewCar.where(brand_id: @brand.id,hide: 0, archive: 0).distinct.pluck(:car_type) %>
    <% brand_car_types.each do |t| %>

      <div class="main-brand-item-cont">

          <%= render partial:'new_cars/new_cars_brand', collection: @brand.new_cars.where(hide: 0, archive: 0, car_type: t).min_price_ordered %>

      </div>
      <% end %>
  <% end %>






  <section class="main-pic-list">
    <div class="main-pic-list-cont">
      <div class="main-pic-list-item img-1 casko">
        <div class="main-pic-list-date">
          <div class="main-pic-list-date-item">Каско</div>
          <div class="main-pic-list-date-item">в подарок!</div>
        </div>
      </div>
      <div class="main-pic-list-item img-2 gos">
        <div class="main-pic-list-date">
          <div class="main-pic-list-date-item">Госпрограмма</div>
          <div class="main-pic-list-date-item">первый авто</div>
          <div class="main-pic-list-date-item">Семейный авто</div>
        </div>
      </div>
      <div class="main-pic-list-item img-3 pay_three">
        <div class="main-pic-list-date">
          <div class="main-pic-list-date-item">3</div>
          <div class="main-pic-list-date-item">Платежа</div>
          <div class="main-pic-list-date-item">за наш счёт</div>
        </div>
      </div>
    </div>
  </section>
</section>