// банки-партнеры
.partners {
  @include list_reset;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}

.partners__item {
  //width: 160px;
  width: calc(50% - 20px);
  height: 80px;
  //margin-bottom: 20px;
  margin: 0 10px 20px;

  @media #{$media_m} {
    width: calc(33.3333% - 20px);
  }
  @media #{$media_l} {
    width: calc(25% - 20px);
  }
  @media #{$media_xl} {
    width: calc(20% - 20px);
  }
  @media #{$media_xxl} {
    width: calc(12.5% - 20px);
  }
}

.partners__link {
  @include link_undecor($text_gray);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  //width: 140px;
  margin: 0 auto;
  height: 100%;
  border-radius: 4px;
  background-color: $white;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12), 0px 12px 16px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.15s linear;
  &:active,
  &:focus,
  &:hover {
    box-shadow: none;
  }
}

.partners__img {
  display: block;
  height: 34px;
  width: auto
}

// банки-партнеры end