@import '_vars';

@import '_cards';
@import '_news';
@import '_credit_light_form';
@import '_modals';
@import '_modals_new_cars';
@import '_region_blocks';

.container {
  @media all and (max-width: 800px) {
    overflow: hidden;
     }
  @media all and (max-width: 359px) {
   padding: 0 5px;
  }
  }
.seo_txt{
  margin: 25px 0;
  @media all and (max-width: 600px) {
    display: none;
  }
}
.stb_top{
  margin: 5px 0 5px 0;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  color: #343F4B;
}

.secur_f:before {
  @media all and (max-width: 360px) {
    width: 64px;
    height: 38px;
  }
  }

.seo_txt_btn{
  padding: 30px 15px;
  @media all and (max-width: 600px) {
   /* padding: 30px 0;*/
  }
}
.seo_txt_btn img{
  width: 380px;
  padding: 20px 0 20px 0;
  display: block;
  @media all and (max-width: 450px) {
    width: 100% !important;
  }
}

.stb-br{
  position: relative;
  padding: 0;
}
.circle_block {
  position: absolute;
  height: 698px;
  width: 698px;
  border: 4px solid #dae1e847;
  border-radius: 50%;
  top: -30px;
  left: -180px;
  z-index: -1;
  @media all and (max-width: 1300px) {
    top: -75px;
  }
  @media all and (max-width: 850px) {
    left: -110px;
  }
  @media all and (max-width: 600px) {
    height: 498px;
    width: 498px;
  }
}

.circle_block:before{
  content: '';
  position: absolute;
  display: inline-block;
  width: 412px;
  height: 412px;
  top: 20.49%;
  left: 20.49%;
  right: 20.49%;
  bottom: 20.49%;
  opacity: 0.6;
  border: 1px solid #DAE1E8;
  border-radius: 50%;
  @media all and (max-width: 600px) {
    width: 212px;
    height: 212px;
    top: 28.49%;
    left: 28.49%;
    right: 28.49%;
    bottom: 28.49%;
  }
}
.circle_block:after{
  content: '';
  position: absolute;
  display: inline-block;
  width: 560px;
  height: 560px;
  top: 9.89%;
  left: 9.89%;
  right: 9.89%;
  bottom: 9.89%;
  opacity: 0.6;
  border: 40px solid #dae1e87a;
  border-radius: 50%;
  @media all and (max-width: 600px) {
    width: 360px;
    height: 360px;
    top: 13.49%;
    left: 13.49%;
    right: 13.49%;
    bottom: 13.49%;
  }
}
h1 .b_slog{
  font-style: normal;
  font-weight: 500;
  font-size: 25.5464px;
  line-height: 100%;
  color: #2A2A30;
  display: block;
  @media all and (max-width: 600px) {
    font-size: 28px;
    line-height: 28px;
  }
}
h1 .b_marka{
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 100%;
  color: #2A2A30;
  display: block;
  @media all and (max-width: 600px) {
    font-size: 48px;
    line-height: 54px;
  }
}
h1 b{
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
  display: block;
  @media all and (max-width: 600px) {
    font-size: 46px;
    line-height: 46px;
  }
}
.date_sale{
  font-weight: 800;
  font-size: 24px;
  color: #0551A1;
  padding: 0 0 10px 0;
  @media all and (max-width: 600px) {
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    padding: 0 0 20px 0;
  }
}
.date_sale span{
  color: #9DA9B6;
  @media all and (max-width: 600px) {
    font-weight: 400;
  }
}
.b__block_left{
  margin: 0 80px 0 0;
  width: 480px;
  @media all and (max-width: 1300px) {
    width: initial;
    margin: 0 auto;
    position: relative;
  }

}
.b__block_right{
  width: 670px;
  margin: 60px auto 0 auto;
  height: 250px;
  @media all and (max-width: 1300px) {
    width: 100%;
    height: auto;
    margin: 0 0 25px 0;
  }
  @media all and (max-width: 600px) {
    margin: 10px 20px;
    height: auto;
  }
}
.b__block_right div{
  font-style: normal;
  font-weight: 800;
  font-size: 38px;
  line-height: 38px;
  color: #0551A1;
  width: 260px;
  @media all and (max-width: 600px) {
    font-size: 18px;
    line-height: 18px;
    width: 120px;
    margin: 0 0 20px 0;
  }
}
.b__block_right div.cr_tr_hr{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  @media all and (max-width: 1300px) {
    width: 100%;
  }
}
.cr_tr_hr{
  @media all and (max-width: 600px) {
    justify-content: space-between !important;
    width: 100%;
  }
}
.cr_tr_hr .btn-link {
  text-transform: none;
}
.cr_tr_hr a{
  padding: 0 10px 0 2px;
  display: inline-block;
}
.card-box {
  @media all and (max-width: 600px) {
    width: 200px !important;
    padding: 20px 10px;
  }
  @media all and (max-width: 480px) {
    width: 180px !important;
    margin: 15px 5px;
  }
  @media all and (max-width: 440px) {
    width: 154px !important;
    padding: 15px 5px;
  }
  @media all and (max-width: 360px) {
    width: 140px !important;
    margin: 15px 2px;
  }
}
.card-box:before {
  @media all and (max-width: 600px) {
    width: 200px;
    height: 200px;
    border: 28px solid #DAE1E8;
    left: -50px;
    top: 0;
  }
  @media all and (max-width: 355px) {
    width: 195px;
    height: 195px;
  }
}
.card-box .sale_block_center {
  @media all and (max-width: 600px) {

  }
}
.card-media {
  @media all and (max-width: 600px) {
    padding: 0 0 10px 0;
    width: 100%;
    position: relative;
  }
}
.card-title {
  @media all and (max-width: 600px) {
    font-size: 18px;
    line-height: 18px;
    min-height: 36px;
  }
}
.card-box a:before{
  @media all and (max-width: 600px) {
  display: none;
  }
}
.cr_tr_hr a {
  @media all and (max-width: 600px) {
    padding: 0;
  }
}
.card-media img {
  @media all and (max-width: 600px) {
    width: 180px;
  }
  @media all and (max-width: 480px) {
    width: 100%;
  }
}
.card-price {
  @media all and (max-width: 600px) {
    font-size: 16px;
    padding: 5px 0 5px 0;
  }
}
.card-box .reserv{
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  color: #0551A1;
  border: 1px solid #00ADF8;
  border-radius: 5px;
  padding: 8px 0 7px 0;
  width: 100%;
  @media all and (max-width: 600px) {
    font-size: 10px;
    padding: 5px 0 5px 0;
    width: 120px;
  }
}
.card-box:hover {
  box-shadow: none;
}
.card-box .reserv:before{
  display: none;
}
.social_bl {
  margin: 30px 0 80px 0;
}
.url_pgb{
  background: #29425C;
  justify-content: space-around;
  margin: 0 0 30px 0;
  display: flex;
  align-items: center;
}
.url_pgb a{
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  padding: 8px 0 8px 0;
  margin: 6px 0;
  width: 33.333333%;
  text-align: center;
  display: inline-block;
  border-right: 1px solid;
  border-color: #ffffff45;
  @media all and (max-width: 600px) {
    padding: 8px 8px 8px 8px;
    width: auto;
  }
  @media all and (max-width: 450px) {
    font-size: 10px;
    line-height: 14px;
  }
  @media all and (max-width: 360px) {
    font-size: 10px;
  }
}
.url_pgb a:last-child{
  border-right: medium none;
}
.url_ft{
  background: #1260B0;
  justify-content: start;
  margin: 0 0 30px 0;
  display: flex;
  align-items: center;
  @media all and (max-width: 600px) {
    flex-wrap: wrap;
  }
}
.url_ft a{
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  text-decoration: none;
  color: #FFFFFF;
  padding: 8px 14px 8px 14px;
  margin: 6px 0;
  text-align: center;
  display: inline-block;
  border-right: 1px solid;
  border-color: #ffffff45;
  @media all and (max-width: 600px) {
    border-right: medium none;
  }
}
.url_ft a:last-child{
  border-right: medium none;
}
.url_ft span{
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 8px 14px 8px 14px;
  margin: 6px 0;
  border-right: 1px solid;
  border-color: #ffffff45;
}
.mm_url{
  width: 950px;
  @media all and (max-width: 680px) {
    overflow-y: scroll;
    width: 100%;
  }
}
.mm_url ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 0;
  @media all and (max-width: 680px) {
    flex-flow: wrap;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(2, auto);
    flex-wrap: wrap;
    display: grid;
    column-count: initial;
    align-items: start;
 }
}
.mm_url ul li{
  width: 25%;
  display: flex;
  justify-content: flex-start;
  padding: 10px 20px 0 20px;
  border-right: 1px solid #CEE1F2;
  @media all and (max-width: 1100px) {
    width: 50%;
    padding: 10px 5px 0 10px;
  }
  @media all and (max-width: 680px) {
    width: 160px;
  }
}
.mm_url ul li a span{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #1260B0;
  @media all and (max-width: 740px) {
    font-size: 12px;
  }
}
.bh_form{
  display: flex;
  justify-content: space-between;
  @media all and (max-width: 680px) {
    flex-wrap: wrap;
  }
}
/***************form********************/
.form_block {
  position: relative;
  background: #F7F7F7;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.12);
  padding: 20px;
  width: 308px;
  min-width: 308px;
  @media all and (max-width: 680px) {
   margin: 0 auto 15px auto;
  }
  @media all and (max-width: 360px) {
    width: 280px;
    min-width: 280px;
  }
}
.fprm_gos_pa {
  position: absolute;
  left: 0;
  top: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 120%;
  color: #FFFFFF;
  background: #D0D0D0;
  border-radius: 0 0 20px 0;
  width: 170px;
  display: block;
  text-align: center;
  padding: 10px 0;
}
.form-sale-info {
  margin: 30px 0 0 0;
  text-align: left;
}
  .form-credit-info {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  color: #1260B0;
  text-transform: initial;
}
.form_block .form-sp {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #222222;
}
#newcarreq_new_ticket input, #newcarreq_new_ticket button {
  width: 100%;
}
#newcarreq_new_ticket button {
  margin: 10px 0 0 0;
}
.act_date_f {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #222222;
  text-align: center;
  display: block;
  padding: 10px 0 10px 0;
}
.frins{
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 120%;
  text-transform: uppercase;
  color: #222222;
}

/***************form********************/

/*********banners*************/
.frm_banner h1{
  margin: 0;
}
.frm_banner{
  display: flex;
  margin: 20px 0 15px 0;
  width: 100%;
  @media all and (max-width: 1440px) {
    justify-content: center !important;
  }
  @media all and (max-width: 1300px) {
    max-height: 350px;
    overflow: hidden;
  }
  @media all and (max-width: 850px) {
    display: inline-block;
    max-height: initial;
    text-align: center;
    margin: 10px 0 15px 0;
    width: 100%;
  }
}
.frm_bangr{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 0 0 15px;
  @media all and (max-width: 1300px) {
    display: block;
    flex-wrap: initial;
    overflow-y: scroll;
  }
  @media all and (max-width: 850px) {
    display: block;
    flex-wrap: initial;
    overflow-y: initial;
    padding: 0;
  }
  @media all and (max-width: 600px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.frm_bangr div{
  @media all and (max-width: 850px) {
    display: inline-block;
    padding: 10px 6px 0 6px;
  }
  @media all and (max-width: 650px) {
    padding: 0;
  }
  @media all and (max-width: 600px) {
    width: 50%;
    padding: 0 0 4px 0;
  }
}

.banr_img{
  @media all and (max-width: 1440px) {
    height: auto;
  }
  @media all and (max-width: 850px) {
    width: 632px;
    height: 350px;
    margin: 0 auto;
  }
}
.banr_img.ism{
  @media all and (max-width: 850px) {
    display: none;
  }
}
.frm_bangr div{
  @media all and (max-width: 1300px) {
    /*  width: 50%;*/
  }
}
.frm_bangr .banr_img{
  @media all and (max-width: 1300px) {
    width: 100%;
  }
}
.frm_bangr .banr_img img{
  @media all and (max-width: 1300px) {
    width: 100%;
  }
  @media all and (max-width: 850px) {
    width: initial;
  }
  @media all and (max-width: 600px) {
    width: 100%;
  }
}
.banr_img img{
  @media all and (max-width: 600px) {
    width: 100%;
  }
}

.frm_bangr div:nth-child(1) .banr_img,.frm_bangr div:nth-child(2) .banr_img{
  margin: 0 0 15px 0;
  @media all and (max-width: 850px) {
    padding: 0;
    margin:0;
  }
}

.frm_bangr div:nth-child(1) .banr_img span,.frm_bangr div:nth-child(2) .banr_img span{

  @media all and (max-width: 850px) {

  }
}

.banr_img,.frm_bangr div:nth-child(3) .banr_img{
  @media all and (max-width: 1300px) {
    padding: 0 0 15px 0;
  }
  @media all and (max-width: 850px) {
    padding: 0;
  }
}
.banr_img,.frm_bangr div:nth-child(4) .banr_img{
  @media all and (max-width: 1300px) {
    padding: 0;
  }
}

.home_f_cell{
  background: #F7F7F7;
  padding: 40px;
  min-width: 362px;
  max-width: 362px;
  @media all and (max-width: 940px) {
    min-width: 300px;
    max-width: 300px;
  }
  @media all and (max-width: 800px) {
    min-width: 400px;
    max-width: 400px;
    margin: 0 auto;
  }
  @media all and (max-width: 500px) {
    min-width: 100%;
    max-width: 100%;
  }
}
.home_f_cell input, .home_f_cell button{
  width: 100%;
}
.hfc_rb{
  flex-wrap: nowrap;
  flex-flow: wrap;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  display: grid;
  width: 100%;
}
.hf_cell_b{
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  @media all and (max-width: 800px) {
    display: block;
  }
}
.hf_call_t{
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 120%;
  color: #1260B0;
  @media all and (max-width: 940px) {
    font-size: 24px;
  }
  @media all and (max-width: 800px) {
    font-size: 30px;
  }
}

.hfc_rbg{
  display: flex;
  justify-content: space-between;
}
.hfc_rb div{
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: inherit;
  padding: 0 30px 0 0;
  @media all and (max-width: 1200px) {
    padding: 0;
  }
  @media all and (max-width: 800px) {
    margin: 15px auto 0 auto;
    width: auto;
  }
  @media all and (max-width: 500px) {
    width: 120px;
    display: inline-block;
    text-align: center;
    font-size: 12px;
  }
}
.hfc_rb div span{
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 100%;
  color: #1260B0;
  padding: 0 0 0 20px;
  @media all and (max-width: 1100px) {
    font-size: 20px;
  }
  @media all and (max-width: 1000px) {
    font-size: 16px;
  }
  @media all and (max-width: 900px) {
    font-size: 14px;
    width: 155px;
  }
  @media all and (max-width: 500px) {
    font-size: 14px;
    padding: 0;
    line-height: 14px;
  }
}
.hfc_rb div img{
  border: 1.66851px solid #DAE1E8;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 12px;
  @media all and (max-width: 900px) {
    padding: 10px;
    width: 80px;
  }
  @media all and (max-width: 500px) {
    margin: 0 0 5px 0;
  }
}

.banr_t{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
  color: #222222;
}
.banr_form form{
  width: 315px;
  margin: 0 auto;
}
.banr_form form button{
  margin: 0;
}

.banr_form form .form_input {
  padding: 30px 0 0 0;
}
.banr_img{
  position: relative;
  overflow: hidden;
  display: block;
  @media all and (max-width: 850px) {
    padding: 0;
  }
  @media all and (max-width: 650px) {
    width: 100%;
    height: auto;
  }
}
.banr_img_txt{
  position: absolute;
  left: 35px;
  bottom: 35px;
  @media all and (max-width: 1440px) {
    bottom: 20px;
  }
  @media all and (max-width: 359px) {
    left: 15px;
  }
  @media all and (max-width: 600px) {
    bottom: 5px;
  }
}
.banr_img_t{
  position: absolute;
  top: 0;
  left: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 100%;
  color: #FFFFFF;
  background: #0000004a;
  padding: 20px 20px;
  width: 100%;
  height: 100%;
  @media all and (max-width: 850px) {

  }
  @media all and (max-width: 600px) {
    font-size: 28px;
    line-height: 28px;
  }
}
.frm_bangr .banr_img_t{
  font-size: 28px;
  line-height: 100%;
  @media all and (max-width: 940px) {
    font-size: 24px;
    height: 167px;
  }
  @media all and (max-width: 600px) {
    font-size: 28px;
  }
  @media all and (max-width: 600px) {
    font-size: 22px;
  }
}

.banr_sale{
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
}
.banr_img_txt .form_btn{
  margin: 15px 0 0 0;
  @media all and (max-width: 600px) {
    width: auto;
    text-align: center;
    padding: 5px 0;
    height: initial;
    margin: 0;
  }
}
.banr_img_txt a{
  display: block;
  color: #fff;
  @media all and (max-width: 600px) {
    border-radius: 15px;
  }
}
.banr_img_txt a:hover{
  text-decoration: none;
}
/*******************************************/
.seo_txt_btn img {
  width: 380px;
  padding: 20px 0 20px 0;
  display: block;
}