@import "_vars";

@import '_cards';
@import '_filter';
@import '_catalog';
@import '_filter_table';

.filter-panel__form {
  margin-bottom: 30px;
  @media #{$media_s} {
    display: flex;
    justify-content: center;
    .select, .button {
      width: calc(50% - 10px);
      max-width: 300px;
    }
    .select {
      margin-right: 20px;
    }
    .button {
      margin-top: 6px;
    }
  }
}

