@import '_vars';

@import '_cards';
@import '_common_top';
@import '_credit_light_form';


.main h1 b{
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 26px;
  color: #BDC7D1;
}
.main h1 span{
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 64px;
  color: #0551A1;
  display: block;
  @media all and (max-width: 600px) {
    font-size: 46px;
    line-height: 46px;
  }
}
.main h2{
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
  color: #343F4B;
  @media all and (max-width: 600px) {
    margin: 45px 0 20px 0;
  }
}
body .main {
  padding: 0 20px !important;
}
.main{
  @media all and (max-width: 1240px) {
   padding: 0 20px !important;
  }
}
.breadcrumbs{
  @media all and (max-width: 1240px) {
    padding: 10px 20px !important;
  }
}
.header_sitebar{
  @media all and (max-width: 1240px) {
    padding: 0 20px !important;
  }
}
.cnt_p{
  display: block;
  justify-content: space-between;
  padding: 40px 0 0 0;
  @media all and (max-width: 700px) {
    display: block;
    width: 100%;
  }
  @media all and (max-width: 480px) {
    padding: 10px 0 0 0;
  }
}

.form_block{
  position: relative;
  padding: 50px 0 0 0;
  width: 930px;
  margin: 43px 0 180px 0;
  overflow: hidden;
  @media all and (max-width: 600px) {
    width: 100%;
    padding: 50px 25px 60px 25px;
    margin: 50px 0 20px 0;
  }
  @media all and (max-width: 1300px) {
    margin: 350px 0 80px 0;
  }
  @media all and (max-width: 1000px) {
    margin: 350px 0 0 0;
    padding: 50px 25px 0 25px;
  }
  @media all and (max-width: 600px) {
    padding: 0;
    margin: 50px 0 0 0;
  }
}
.soc_info{
  @media all and (max-width: 1300px) {
    margin: 0 auto;
  }
}
.main .credit_fbn{
  @media all and (max-width: 1300px) {
    margin: 0 auto;
  }
}
.form__credit_p{
  @media all and (max-width: 1300px) {
    display: grid;
  }
}
.form__lt {
  width: 434px;
  @media all and (max-width: 1300px) {
    margin: 0 auto;
  }
}
.main .form_block-right{
  @media all and (max-width: 1300px) {
    margin: 0 auto;
  }
  @media all and (max-width: 1000px) {
    width: 100%;
  }
}
.circle_block {
  position: absolute;
  height: 698px;
  width: 698px;
  border: 4px solid #dae1e847;
  border-radius: 50%;
  top: -56px;
  left: -180px;
  z-index: -1;
  @media all and (max-width: 500px) {
    top: -135px;
    left: -285px;
  }
}

.circle_block img{
  position: absolute;
  top: 140px;
  left: 140px;
}
.circle_block:before{
  content: '';
  position: absolute;
  display: inline-block;
  width: 412px;
  height: 412px;
  top: 20.49%;
  left: 20.49%;
  right: 20.49%;
  bottom: 20.49%;
  opacity: 0.6;
  border: 1px solid #DAE1E8;
  border-radius: 50%;
}
.circle_block:after{
  content: '';
  position: absolute;
  display: inline-block;
  width: 560px;
  height: 560px;
  top: 9.89%;
  left: 9.89%;
  right: 9.89%;
  bottom: 9.89%;
  opacity: 0.6;
  border: 40px solid #dae1e87a;
  border-radius: 50%;
}
.h_block {
  position: relative;
}
.form-credit-info{
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 26px;
  color: #BDC7D1;
}
.form-sp{
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 36px;
  color: #0551A1;
}
.form_block-right form select,.form_block-right form input,.form_block-right form button{
  width: 255px;
  @media all and (max-width: 600px) {
    width: 100%;
  }
}

.credit_fbn input{
  @media all and (max-width: 600px) {
   width: auto;
  }
}
.credit_fbn button{
  @media all and (max-width: 600px) {
    width: 275px;
  }
}


.form_block-right form button{
  margin: 15px 0 0 0;
}
.textarea{
  width: 100%;
  height: 165px;
  min-height: 165px;
  max-height: 165px;
  border: 1px solid #DAE1E8;
  box-sizing: border-box;
  border-radius: 5px;
}
.l_txt label{
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  color: #343F4B;
}
.main .contacts_info{
  margin: 60px 0 30px 0;
  display: flex;
  @media all and (max-width: 1260px) {
    display: block;
    margin: 0 0 30px 0;
  }
}
.c_i_b{
  margin: 0;
  @media all and (max-width: 1100px) {
    margin: 0 0 20px 0;
  }
}

.addr_info{
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 125%;
  color: #1C1C1C;
  @media all and (max-width: 1200px) {

  }
}
.addr_info svg, .tl_info svg{
  width: 49px;
  margin: 0 8px 0 0;
  @media all and (max-width: 500px) {
    width: 40px;
  }
}
.addr_info svg{
  margin: 0 20px 0 0;
}

.phone_info{
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  color: #1C1C1C;
  padding: 0 0 0 75px;
  @media all and (max-width: 1200px) {

  }
  @media all and (max-width: 1100px) {

  }
  @media all and (max-width: 500px) {
    font-size: 20px
  }
}
.tl_info{
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  color: #222222;
  padding: 0;
}
.tx_info{
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 125%;
  color: #1C1C1C;
  margin: 0 0 0 20px;
  @media all and (max-width: 1200px) {

  }
  @media all and (max-width: 1100px) {

    font-size: 18px;
  }
  @media all and (max-width: 1000px) {

  }
  @media all and (max-width: 500px) {
    margin: 0 0 0 20px;
  }
  @media all and (max-width: 360px) {
    font-size: 14px;
  }
}
.soc_block a{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #0551A1;
  margin: 40px 35px 0 0;
  @media all and (max-width: 600px) {
    margin: 40px 0 0 0;
    text-align: center;
  }
}
.cnt_if{
  margin: 0;
  @media all and (max-width: 1200px) {
    margin: 0 20px 0 0;
  }
  @media all and (max-width: 480px) {
    margin: 0;
  }
}
.tlx{
  width: 30%;
  padding: 0 0 25px 0;
  margin: 0 25px 0 0;
  display: flex;
  align-items: center;
  @media all and (max-width: 1260px) {
    width: 100%;
    margin: 0;
  }
}
.soc_block a span{
  display: block;
  padding: 20px 0 0 0;
}
.soc_block img{
  margin: 0 auto;
  display: block;
}
.map{
  position: relative;
  padding: 0;
  width: 100%;
  margin: 0 0 40px 0;
  overflow: hidden;

}
.cnt_info{
  display: flex;
  justify-content: space-between;
  @media all and (max-width: 1100px) {
    display: block;
  }
  @media all and (max-width: 700px) {
    display: flex;
  }
  @media all and (max-width: 480px) {
    display: block;
  }
}