@import '_vars';

@import '_common_top';
@import '_banks_list';



.main{
  position: relative;
}
body .main {
  padding: 0 20px !important;
}
.container .main {
  @media all and (max-width: 600px) {

  }
}
.main .form__credit_p{
  margin: 60px 0 0 0;
  @media all and (max-width: 1400px) {
    display: block;
  }
}
h2 {
  padding: 20px 0 20px 0;
}
.rangeslider__handle{
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);
  background: #6AD1A6;
  top: -17px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  font-size: 0;
  z-index: 1;
  border: 2px solid #6AD1A6;
}
.rangeslider--horizontal {
  margin: 20px 0 30px;
  height: 4px;
  background: #888888;
  width: 385px;
  @media all and (max-width: 600px) {
    width: 260px;
  }
}
.rangeslider__fill {
  background: #00AFFA;
  top: -2px;
  height: 8px;
  position: relative;
}
.r_diagram{
  position: relative;
  width: 100%;
}
.r_diagram:before{
  display: none;
  content: '';
  background: conic-gradient(from 180deg at 50% 50%, #BDC7D1 0deg, #FFFFFF 54.38deg, #BDC7D1 118.12deg, #FFFFFF 170.63deg, #BDC7D1 234.38deg, #FFFFFF 292.5deg, #BDC7D1 360deg);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);
  top: -43px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  left: 0;
  font-size: 0;
  z-index: 0;
}
.r_diagram i{
  width: 20px;
  left: 0;
  display: inline-block;
  top: -35px;
  position: absolute;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  color: #9DA9B6;
}
.r_diagram i:before{
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #DAE1E8;
  margin: 0 0 15px 7px;
  display: block;
}
.r_diagram i.l0{left: 0;}
.r_diagram i.l0:before{ margin: 0 0 15px 0;}
.r_diagram i.l12{left: 51.8571px;}
.r_diagram i.l24{
  left: 103.714px;
  @media all and (max-width: 600px) {
    left: 59.5px;
  }
}
.r_diagram i.l36{
  left: 155.571px;
  @media all and (max-width: 600px) {
    left: 119px;
  }
}
.r_diagram i.l48{left: 207.429px;}
.r_diagram i.l60{
  left: 259.286px;
  @media all and (max-width: 600px) {
    left: 178.5px;
  }
}
.r_diagram i.l72{left: 311.143px;}
.r_diagram i.l84{
  left: 363px;
  @media all and (max-width: 600px) {
    left: 238px;
  }
}
.r_diagram i.l84:before{ margin: 0 0 15px 18px;}


.credit__rtitle{
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  color: #2A2A30;
}
.cr_2 .r_diagram i{
  width: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  color: #9DA9B6;
  @media all and (max-width: 600px) {
    text-align: center;
    width: 65px;
  }
}
.cr_2 .r_diagram i:before {
  margin: 0 0 15px 22px;
  @media all and (max-width: 600px) {
    margin: 0 0 15px 10px;
  }
}


.r_diagram i.r0{left: 0;}
.r_diagram i.r0:before{ margin: 0 0 15px 0;}
.r_diagram i.r2{
  left: 57.6px;
  @media all and (max-width: 600px) {
    left: 47.6px;
  }
}
.r_diagram i.r4{
  left: 130.2px;
  @media all and (max-width: 600px) {
    left: 95.2px;
  }
}
.r_diagram i.r6{
  left: 202.8px;
  @media all and (max-width: 600px) {
    left: 142.8px;
  }
}
.r_diagram i.r8{
  left: 275.4px;
  @media all and (max-width: 600px) {
    left: 190.4px;
  }
}
.r_diagram i.r10{
  left: 363px;
  @media all and (max-width: 600px) {
    left: 238px;
  }
}
.r_diagram i.r10:before{ margin: 0 0 15px 18px;}

.form_cr_r{
  display: block;
  @media all and (max-width: 600px) {
    display: none;
  }
  @media all and (max-width: 900px) {
    width: 430px;
    margin: 0 auto !important;
  }
}
.form__cr_l{
  @media all and (max-width: 900px) {
    margin: 0 auto;
  }
  @media all and (max-width: 520px) {
    width: 100%;
  }
}
.form_cr_r.mbc{
  display: none;
  @media all and (max-width: 600px) {
    display: block;
    width: 260px;
    margin: 30px 33px 0 0;
  }
}

.form--credit{
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: auto;
  padding: 0 0 20px 25px;
  margin: 0 0 0 10px;
  @media all and (max-width: 1240px) {
    margin: 10px 0 0 0;
  }
  @media all and (max-width: 1180px) {
    margin: 10px auto;
  }
  @media all and (max-width: 1100px) {
    width: 450px;
    margin: 0 auto;
  }
  @media all and (max-width: 760px) {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
  }
  @media all and (max-width: 520px) {
    width: auto;
    padding: 0;
  }

  }
.fcr_t_top{
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 120%;
  color: #1260B0;
  margin: 0 0 15px 0;
}

.form_cr_r{
  margin: 0;
}

.form__cr-bt{
  width: 100%;
  background: #1C1C1C;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 0 0;
  @media all and (max-width: 760px) {
    padding: 0;
  }
}

.form__cr-bt a{
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  color: #FFFFFF;
  @media all and (max-width: 400px) {
    font-size: 19px;
  }
}
.form__cr-bt a:hover{
  color: #FFFFFF;
}

 form .frm_credit_k .button{
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 15px 0 0 0;
  background: #6AD1A6;
  border-radius: 3px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.form__component.cr_1{
  margin: 8px 0 0 0;
}
.form__component.cr_2{
   margin: 45px 0 0 0;
   display: block;
}
 .car-credit__subtitle{
   font-style: normal;
   font-weight: bold;
   font-size: 18px;
   line-height: 18px;
   color: #000000;
 }
 .form__cr_l{
   @media all and (max-width: 600px) {
    margin: 0 auto;
   }
   @media all and (max-width: 900px) {
     width: 430px;
   }
 }
.main .form__cr{
  @media all and (max-width: 1000px) {
    display: grid;
    justify-content: center !important;
  }
}
.form--credit .form_ld{
  margin: 0;
  @media all and (max-width: 1000px) {
    display: grid;
    justify-content: center !important;
  }
  @media all and (max-width: 760px) {
    display: block;
  }
}
.form--credit form select,.form--credit form input{
  @media all and (max-width: 600px) {
    width: 255px;
  }
  @media all and (max-width: 400px) {
    width: 100%;
  }
}
.form--credit form{
  @media all and (max-width: 760px) {
    display: flex;
    justify-content: space-around;
  }
}
.cr_vr{
  padding: 10px 0 20px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  color: #9DA9B6;
  width: 610px;
  @media all and (max-width: 1400px) {
    margin: 0 auto;
  }
  @media all and (max-width: 1180px) {

  }
  @media all and (max-width: 760px) {

  }
  @media all and (max-width: 660px) {
   width: 100%;
  }
  @media all and (max-width: 600px) {
    padding: 20px 5px 30px 5px;
  }
}

.form__lt{
  width: 434px;
  @media all and (max-width: 1400px) {
    margin: 0 auto;
  }
}

.h_block{
  position: relative;
  @media all and (max-width: 600px) {
    padding: 0;
  }
}
.h_slend{
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 32px;
  color: #2A2A30;
  width: 150px;
  position: absolute;
  right: -14px;
  bottom: 14px;
  @media all and (max-width: 600px) {
    font-size: 20px;
    line-height: 20px;
    width: 100px;
    right: 115px;
  }
  @media all and (max-width: 359px) {
    right: 140px;
  }
}
.form__lt h1{
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 64px;
  color: #0551A1;
  @media all and (max-width: 600px) {
    font-size: 46px;
    line-height: 46px;
    margin: 0 0 40px 0;
  }
}

.form__lt h1 b{
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 30px;
  color: #9DA9B6;
  display: block;
}
.form__credit_p .form__lt{
  @media all and (max-width: 600px) {
    height: auto;
  }
}

h1 span{
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
  color: #2A2A30;
  display: block;
  margin: 20px 0 12px 0;
  @media all and (max-width: 600px) {
    margin: 20px 0 0 0;
    font-size: 22px;
    line-height: 22px;
  }
}
h1 strong{
  font-style: normal;
  font-weight: 800;
  font-size: 120px;
  line-height: 120px;
  color: #0551A1;
  @media all and (max-width: 600px) {
    font-size: 84px;
    line-height: 84px;
  }
}

.circle_block {
  position: absolute;
  height: 698px;
  width: 698px;
  border: 4px solid #dae1e847;
  border-radius: 50%;
  top: -100px;
  left: -180px;
  z-index: -1;
  @media all and (max-width: 500px) {
    top: -135px;
    left: -285px;
  }
}

.circle_block:before{
  content: '';
  position: absolute;
  display: inline-block;
  width: 412px;
  height: 412px;
  top: 20.49%;
  left: 20.49%;
  right: 20.49%;
  bottom: 20.49%;
  opacity: 0.6;
  border: 1px solid #DAE1E8;
  border-radius: 50%;
}
.circle_block:after{
  content: '';
  position: absolute;
  display: inline-block;
  width: 560px;
  height: 560px;
  top: 9.89%;
  left: 9.89%;
  right: 9.89%;
  bottom: 9.89%;
  opacity: 0.6;
  border: 40px solid #dae1e87a;
  border-radius: 50%;
}
.credit_p_inf{
  width: auto;
  @media all and (max-width: 1400px) {
    margin: 0 auto;
  }
}
.credit_p_inf span{
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
  color: #2A2A30;
  padding: 0 0 10px 0;
  display: block;
}
.credit_p_inf ul{

}
.credit_p_inf ul li{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #2A2A30;
  padding: 10px 0 0 0;
}
.credit_p_inf ul li span{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #2A2A30;
  display: inline-block;
  padding: 0 0 0 10px;
  width: 360px;
  @media all and (max-width: 600px) {
    width: 280px;
  }
  @media all and (max-width: 359px) {
    width: 250px;
  }
}
.credit_p_inf ul li:before{
  content: '';
  background: image-url('carso/icons/on.svg')no-repeat center right;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0 10px 0 0;
}
.pdf_t{
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
  color: #343F4B;
  display: block;
  padding: 30px 0 20px 35px;
  @media all and (max-width: 600px) {
    padding: 30px 0 20px 0;
  }
}
.pdf_url{
  @media all and (max-width: 600px) {
    margin: 0 0 40px 0;
  }
}
.pdf_url a{
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #2A2A30;
  margin: 30px 0 0 0;
}
.pdf_url a img{
  padding: 0 15px 0 0;
}

.gift__cr_bl{
  width: 930px;
  @media all and (max-width: 1400px) {
    margin: 0 auto;
  }
  @media all and (max-width: 1000px) {
   width: 100%;
  }
}
.gift__cr_bl .p_credit{
  @media all and (max-width: 1000px) {
   display: none;
  }
}.gift__cr_bl .p_credit_old{
   display: none;
  @media all and (max-width: 1000px) {
    display: block;
    background: transparent;
  }
}

.gift__cr_bl .bng-gift{
  margin: 20px 0 30px 0;
}

.gift__cr_bl .bng-main{
  margin: 0 0 15px 0;
}

.credit_bp_txt{
  padding: 30px 0 30px 25px;
  @media all and (max-width: 600px) {
    padding: 0 0 30px 0;
  }
}
.credit_bp_txt span{
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
  color: #343F4B;
  @media all and (max-width: 600px) {
    padding: 0 15px 15px 15px;
  }
}
.credit_bp_txt div{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #2A2A30;
  width: 930px;
  min-width: 930px;
  @media all and (max-width: 1000px) {
    width: 100%;
    min-width: 100%;
  }
}
.credit_bp_txt div p{}
.frm_tbank{
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
  color: #343F4B;
  @media all and (max-width: 1300px) {
    text-align: center;
    display: block;
    margin: 0 0 55px 0;
  }
}
.f_progr .bng-block{
  @media all and (max-width: 600px) {
    width: 100% !important;
    margin: 0 !important;
  }
}
.f_progr .bng-title{
   width: 388px;
  @media all and (max-width: 1300px) {
    margin: 40px 0 0 0;
  }
  @media all and (max-width: 600px) {
    margin: 0;
    text-align: left;
  }
}

.f_progr .credit_lg {
  background: transparent;
  @media all and (max-width: 1300px) {
    display: block;
    margin: 0 auto;
    width: 400px;
  }
  @media all and (max-width: 600px) {
    width: auto;
  }
}
.f_progr .credit_lg .bng-img{
  @media all and (max-width: 1300px) {
    margin: 0 auto;
  }
}

.f_progr .bng-title i{
  padding: 25px 0;
  @media all and (max-width: 1300px) {
    padding: 25px 0 10px 0;
  }
  @media all and (max-width: 1300px) {
    font-size: 20px;
  }
}

.f_progr .bng-title span{
  @media all and (max-width: 1300px) {
    padding: 10px 20px 50px 0;
  }
  @media all and (max-width: 600px) {
    padding: 10px 20px 30px 0;
  }
}

.main .credit_fbn{
  margin: 50px 0;
}
.credit_fbn input,.credit_fbn form button{
  @media all and (max-width: 340px) {
    width: 255px;
  }
}

.form_credit{
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0 0 40px 0;
  @media all and (max-width: 1180px) {
    flex-wrap: wrap;
  }
  @media all and (max-width: 520px) {
    margin: 0;
  }
}
.cr_tl{
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: #222222;
  display: block;
  margin: 30px 0 60px 0;
  @media all and (max-width: 660px) {
    margin: 30px 0 0 0;
  }
  @media all and (max-width: 520px) {
    margin: 0;
    font-size: 22px;
  }
}

.frg_is{
  display: flex;
  justify-content: space-between;
  @media all and (max-width: 680px) {
    flex-wrap: wrap;
  }
}
.frg_is div{
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0 0 0;
  align-items: center;
  @media all and (max-width: 680px) {
    display: grid;
  }
}
.frg_is div i{
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 140%;
  color: #1C1C1C;
  display: flex;
  align-items: center;
  text-align: center;
  width: auto;
  height: 84px;
  margin: 0 10px 0 0;
}
/*.frg_is div i:before{
  content: '';
  background-image: image-url("carso/icons/lnstar.svg");
  background-repeat: no-repeat;
  margin: 0 10px 0 0;
  width: 84px;
  height: 84px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}*/
.frg_is div span{
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  color: #1C1C1C;
  width: 190px;
  padding: 0 0 0 5px;
}
.fcwig{

}

.secur_f {
  padding: 10px 0 0 0;
  width: 276px;
}
.secur_f:before {
  width: 54px;
}
.form--credit form button {
  margin: 15px 0 0 0;
}
.big_pr{
  font-style: normal;
  font-weight: 600;
  font-size: 189.403px;
  line-height: 74.5%;
  color: #1C1C1C;
  margin: 40px 0;
  display: block;
  @media all and (max-width: 520px) {
    font-size: 94px;
    margin: 15px 0;
  }
}
.form--credit form input, .form--credit form select, .form--credit form button {
  width: 268px;
}
.sub_tt{
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 78.8921px;
  line-height: 140%;
  color: #1C1C1C;
  @media all and (max-width: 520px) {
    font-size: 44px;
  }
}
.sub_ttr{
  font-style: normal;
  font-weight: normal;
  font-size: 30.9818px;
  line-height: 140%;
  color: #1C1C1C;
  @media all and (max-width: 520px) {
    font-size: 22px;
  }
}
.frmcr{
  margin: 0 0 40px 0;
}
.form_stb{
  margin: 60px 0 50px 0;
}
.form_st_cr{
  display: flex;
  justify-content: space-between;
  @media all and (max-width: 1240px) {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
  }
}
.frm_credit_k{
  display: flex;
  align-items: flex-end;
}
/*.frm_credit_k{
  width: 416px;
  height: 360px;
  background: #FFFFFF;
  border: 1px solid #6AD1A6;
  padding: 40px 40px 30px 40px;
  @media all and (max-width: 1240px) {
    margin: 25px auto;
  }
  @media all and (max-width: 450px) {
    width: 100%;
    height: auto;
    padding: 30px 15px 30px 15px;
  }
}*/

.frm_credit_img{
  margin: 0 auto;
}
.frm_credit_img img{
  @media all and (max-width: 560px) {
    width: 100%;
  }
}
.crfc_name{
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  color: #222222;
}
.crfc_p{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  color: #222222;
}
.crfc_p span{
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  color: #222222;
  display: block;
}
.form__cr_lb{
  padding: 30px 0 0 0;
  @media all and (max-width: 900px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  @media all and (max-width: 450px) {
    width: 100%;
  }
  @media all and (max-width: 400px) {
    padding: 30px 10px 0 10px;
  }
}
.form_crg{
  width: 680px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  @media all and (max-width: 1240px) {
    margin: 0 auto;
  }
  @media all and (max-width: 900px) {
   width: 100%;
    flex-wrap: wrap;
  }
}
.nf_i{
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 130%;
  color: #1C1C1C;
  padding: 0 0 30px 0;
  @media all and (max-width: 1240px) {
   text-align: center;
  }
}
.form-credit_subt{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  color: #222222;
  display: flex;
  margin: 0 0 30px 0;
}
.form-credit_subt b{
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #000000;
  display: block;
  padding: 0 0 0 5px;
}
/***************************************/

.tradein_btt .credit_bp_txt{
  display: none;
  padding: 30px 0 30px 25px;
  @media all and (max-width: 600px) {
    padding: 10px 0 0 0;
  }
}
.tradein_btt .credit_bp_txt.on{
  display: flex;
}


.credit_bp_txt img{
  padding: 0 0 10px 0;

}
.credit_bp_txt span{
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  color: #222222;
  display: block;
  margin: 0;
  @media all and (max-width: 600px) {
    padding: 0 1px 15px 0;
  }
}
.credit_bp_txt div{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #2A2A30;
  width: 900px;
  min-width: 900px;
  @media all and (max-width: 1000px) {
    width: 100%;
    min-width: 100%;
  }
  @media all and (max-width: 680px) {
    padding: 0;
  }
}
.credit_bp_txt p{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #222222;
}
.frm_tbank{
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
  color: #343F4B;
  @media all and (max-width: 1300px) {
    text-align: center;
    display: block;
    margin: 0 0 55px 0;
  }
}

.tradein_tt{
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  color: #222222;
  justify-content: space-between;
  display: flex;
  background: #F7F7F7;
  height: 50px;
  padding: 0 20px;
  align-items: center;
  cursor: pointer;
  margin: 0 0 2px 0;
  @media all and (max-width: 400px) {
    padding: 0 25px 0 10px;
    position: relative;
  }
}
.tradein_tt:after{
  content: '';
  background: image-url('carso/icons/t_str.svg') no-repeat 0 0 #F7F7F7;
  width: 15px;
  height: 12px;
  transform: rotate(180deg);
  @media (max-width: 400px) {
    position: absolute;
    right: 8px;
  }
}
.tradein_tt.on:after{
  transform: rotate(0);
}
.credit_bp_txt b{
  display: block;
  width: 100%;
}
.tradein_btt ul{
  list-style-image: image-url('carso/icons/vect_ok_1.svg');
  padding: 0 0 0 32px;
  display: flex;
  flex-wrap: wrap;
  @media (max-width: 520px) {
    display: block;
  }
}
.tradein_btt ul li span{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  color: #1C1C1C;
  display: block;
  padding: 0 0 0 5px;

}
.tradein_btt.trb_1 ul li span{
  width: 325px;
  @media (max-width: 520px) {
    width: 100%;
  }
}
.tradein_btt ul li{
  padding: 0 70px 15px 0;
  @media (max-width: 520px) {
    padding: 0 0 15px 0;
  }
}

/***************************************/


.bank_block {
  @media (max-width: 600px){
  margin: 20px 15px 0 15px;
  }
}

.pr_slog_b {
  @media (max-width: 500px){
  margin: 0 0 20px 0;
  }
}
/********************finance__item********************/

#finance__item{
  display: flex;
  margin: 10px 0 25px 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}
#finance__item li{
  width: 200px !important;
  align-items: center;
  display: flex;
  justify-content: start;
  margin: 0 0 16px 0;
  background: linear-gradient(180deg, #F7F7F7 0%, rgba(255, 255, 255, 0) 22.4%, rgba(255, 255, 255, 0) 79.17%, #F7F7F7 100%), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
  border: 1px solid #DAE1E8;
  border-radius: 4px;
  @media all and (max-width: 660px) {
    width: 160px !important;
  }
  @media all and (max-width: 540px) {
    width: 140px !important;
  }
  @media all and (max-width: 480px) {
    margin: 0 10px 16px 0;
  }
  @media all and (max-width: 340px) {
    width: 138px !important;
    margin: 0 2px 16px 0;
  }
}
#finance__item a{
  width: 200px;
  height: 60px;
  padding: 15px 20px 15px 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 9px;
  line-height: 11px;
  text-transform: uppercase;
  color: #888888;
  display: block;
  @media all and (max-width: 660px) {
    width: 160px;
    padding: 15px 15px 15px 15px;
  }
  @media all and (max-width: 540px) {
    width: 140px;
    padding: 20px 5px 10px 8px;
  }
}
#finance__item a span{
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  text-transform: uppercase;
  color: #1260B0;
  @media all and (max-width: 660px) {
    font-size: 12px;
  }
}
#finance__item a span i{
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  text-transform: uppercase;
  color: #6AD1A6;
  @media all and (max-width: 660px) {
    font-size: 12px;
  }
}

/********************finance__item********************/

.form-bottom{
  display: flex;
  justify-content: space-between;
  @media all and (max-width: 660px) {
    display: block;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
  }
}
.form-bottom .drmbbx{
  margin: 0 60px 25px 0;
  @media all and (max-width: 660px) {
    margin: 0;
  }
}
form input, form select, form button, .form_btn, .express_fbn input, .express_fbn button, .express_fbn_o input, .express_fbn_o button, .credit_fbn input, .credit_fbn button {
  width: 275px;
}
form .form_ld .form__cr-bt button{
  width: 610px;
  height: 65px;
  background: #1C1C1C;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  color: #FFFFFF;
  margin: 15px 0 0 0;
  @media all and (max-width: 520px) {
    margin: 0;
  }
}
form .form_ld .form__cr-bt button span{
  text-transform: initial;
}
form .form_ld input{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  color: #1C1C1C;
  @media all and (max-width: 660px) {
    width: 100%;
  }
}
.form_input{
  padding: 40px 0 0px 0;
}
 form .form__cr_lb select{
   border: 1px solid #1C1C1C;
   border-radius: 0;
   height: 53px;
   width: 316px;
   color: #1C1C1C;
   @media all and (max-width: 520px) {
     width: 100%;
   }
}
form .form__cr_lb input{
  border-radius: 0;
  height: 53px;
  width: 316px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  color: #A3A3A3;
}

form .form__cr_lb .form_input{
  padding: 20px 0 0px 0;
}

.tcredit_bp_txt{
  display: flex;
}
.tcredit_bp_txt li span b{
  display: block;
}
main .gos_prb i{
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  color: #1C1C1C;
  padding: 15px 0 15px 0;
}
main .gos_prb div{
  width: 369px;
  @media all and (max-width: 520px) {
    width: 369px;
    min-width: 369px;
  }
  @media all and (max-width: 400px) {
    width: 300px;
    min-width: 300px;
  }
}
main .gos_prb div a img{
  width: 100%;
}
main .gos_prb p{
  font-size: 16px;
  line-height: 22px;
  color: #1C1C1C;
}