@import 'slick';
@import '_tables';


.img-comp-container{
  display: block;
  position: relative;
  min-height: 250px;
  //padding: 40px 0 0 0;
  padding: 20px 0 20px 0;
  @media all and (max-width: 1100px) {
    // padding: 70px 0 20px 0;
  }
  @media all and (max-width: 900px) {
    display: flex;
    justify-content: space-evenly;
  }
  @media all and (max-width: 480px) {
    min-height: 100%;
    height: 100%;
  }
}


.color {
  display: inline-block;
  width: 34px !important;
  height: 34px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0;
}

.singlecar__colors .slick-slide.slick-current div{
  border: 2px solid #D7AD48;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -6px 0 0 0;
}
.singlecar__colors .slick-initialized .slick-slide{
  display: flex;
  align-items: flex-end;
  height: 46px;
}
@media all and (max-width: 600px) {
.mbl_nf{
  background: #D7AD48;
  box-shadow: 0 16px 32px #0000001f;
  padding: 0 0 20px 0;
}
  .model_page_special__value {
    color: #000000;
  }
.model_page_special__subtitle {
  color: #000000;
}
  .model_page_form .btn {
    background: #000000;
  }


}


.wrng_rs{
  display: none;
  margin: 40px 0;
  background: #F7F7F7;
  box-shadow: 0 16px 32px #0000001f;
  padding: 20px;
  @media all and (max-width: 600px) {
    display: block;
  }
}
.wrng_rs span{
  display: inline-block;
  background: #FE2B2B;
  border-radius: 4px;
  padding: 4px 5px 6px 7px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.wrng_rs b{
  display: block;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
.wrng_rs p{
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 16px;
  color: #6f7985;
}
.wrng_rs i{
  display: block;
  font-size: 12px;
  font-style: normal;
  line-height: 16px;
  color: #6f7985;
}